

<ul class="outline-ul" >
                                    <li sortables ng-repeat="section in contents track by $index" ng-cloak class="section-li" data-part-id="{{section.part_id}}" data-counter-no="{{section.rowcounter}}" id="section-{{$index}}">
                                    <div class="dc-section-info">
                                        <div class="title-section">
                                            <h4 class="xsm">Section <span class="section_counter">{{section.counter}}</span> : <span data-part-id="{{section.part_id}}" class="editsection_title" contenteditable="true">{{section.part_name}}</span></h4>
                                            <h6 class="section_achiev" contenteditable="true" style="color:#fff; max-width:500px" data-part-id="{{section.part_id}}">{{section.achievement}}</h6>
                                            <div class="course-region-tool">
                                              <span  class="edit-section-icon pointer icon" title="edit">
                                                <i class="fa fa-pencil"></i>
                                              </span>
                                                <span  class="section-drag pointer icon" title="drag">
                                                  <i class="fa fa-arrows"></i>
                                                </span>
                                                <span class="icon pointer delete-section" data-sectionid="{{section.part_id}}" data-method="post" title="Delete Section">
                                                  <i class="fa fa-trash"></i>
                                                </span>
                                                <a class="toggle-section active icon pointer">
                                                  <i class="section-toggle fa fa-caret-left"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dc-section-body hidden">
                                            <ul class="section-item-ul">
                                             <li  ng-repeat="lesson in sectionsLessonArray[section.part_id] track by $index" data-index="{{$index}}" ng-switch="lesson.type" id="lesson-{{$index}}" class="section-items lesson-li dc-unit-info dc-course-item" data-outlineno="{{lesson.content[0].outlineno}}" data-type="lesson" data-section-no="{{lesson.content[0].part_id}}">
                                                <!-- {{sec_contents.type}}
                                                <div ng-repeat="lesson in sec_contents.content"> -->
                                                  <div ng-switch-when="lesson" class="unit-title-edit-div" data-outline-no="{{lesson.content[0].outlineno}}">
                                                                                          <div class="dc-content-title">
                                                 <h5 class="xsm black">Lesson <span class="lesson_counter">{{lesson.content[0].lesson_counter}}</span> : {{lesson.content[0].lesson_title}}</h5>
                                                 <div class="course-region-tool">
                                                 <span class="edit edit-unit pointer icon" data-lesson-id="{{lesson.content[0].lesson_id}}"  title="edit">
                                                   <i class="fa fa-pencil"></i>
                                                 </span>
                                                 <span class="section-item-drag pointer icon" title="drag">
                                                   <i class="fa fa-arrows"></i>
                                                 </span>
                                                 <span  ng-click="deleteLesson($event,$index,section.part_id)" data-lessonid="{{lesson.content[0].lesson_id}}" title="delete" class="pointer icon delete-unit">
                                                   <i class="fa fa-trash"></i>
                                                 </span>

                                                      <div class="btn-group dropup">
                                                        <button type="button" class="addcontent-btn btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                          Add content<span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="dp_options in lesson.content[0].content_dropdown"><a data-lesson-id="{{lesson.content[0].lesson_id}}" ng-class="dp_options.type!='library' ?'dropdown-item':'library'" ng-click="variable = (dp_options.type=='library' ? loadLibrary($event) : '')" data-section="{{section.part_id}}" data-lesson-index="{{$parent.$index}}" class="pointer" data-type="{{dp_options.type}}" >{{dp_options.text}}</a></li>
                                                          <!-- <li ng-repeat="dp_options in lesson.content[0].content_dropdown"><a data-lesson-id="{{lesson.content[0].lesson_id}}"  data-section="{{section.part_id}}" data-lesson-index="{{$parent.$index}}" class="pointer" data-type="{{dp_options.type}}" >{{dp_options.text}}</a></li> -->
                                                          <!-- <li><a data-lesson-id="{{lesson.content[0].lesson_id}}" data-section="{{section.part_id}}" data-lesson-index="{{$index}}"  class="pointer"  data-type="{{dropdown-options.type}}" >Presentation</a></li>
                                                          <li><a data-lesson-id="{{lesson.content[0].lesson_id}}" data-section="{{section.part_id}}" data-lesson-index="{{$index}}"   class="pointer" data-type="{{dropdown-options.type}}" >Downloadables</a></li>
                                                          <li><a data-lesson-id="{{lesson.content[0].lesson_id}}" data-section="{{section.part_id}}" data-lesson-index="{{$index}}"   class="pointer"  data-type="text" >Text</a></li>
                                                          <!-- <li><a data-lesson-id="{{lesson.content[0].lesson_id}}" class="pointer" data-type="external" >External link</a></li> -->
                                                          <!-- <li><a data-lesson-id="{{lesson.content[0].lesson_id}}" data-section="{{section.part_id}}" data-lesson-index="{{$index}}"   class="pointer" data-type="library" >Upload from library</a></li> -->
                                                        </ul>
                                                      </div><!--End dropdown-->
                                                   </div><!--End tool-->
                                                   </div><!-- End content-title -->
                                                   <div class="hold-edit-form hide"></div>
                                                    <div class="unit-content-div hide"></div>
                                                   <div class="unit-contents">
                                                      <!--Begin Main Contents info div-->
                                                      <div ng-repeat="m_content in lesson.content[0].lesson_content track by $index" class="content-item-info">
                                                        <div class="upload-thumb" ng-if="m_content.main=='Yes'">
                                                             <img ng-src="{{m_content.thumbnails}}" data-type="{{m_content.type}}"  alt="" class="thumbnail" style="max-height:160px; width:160px">
                                                            </div>
                                                           <div class="upload-cnt" ngClass="{no-left-padding:m_contetent=='text'}">
                                                                  <div class="title-file">
                                                                      <span class="name-file">{{m_content.content_defaultname}}</span>
                                                                  </div>
                                                                  <div class="upload-meta">
                                                                      <span>Uploaded by {{m_content.owner}}. {{m_content.uploadtime}}</span>
                                                              </div>
                                                              <div class="upload-meta" ><i class="fa fa-clock-o icon" ng-if="m_content.type=='video'">  {{m_content.video_length}} </i> </div>
                                                              <div class="upload-meta" ><i class="fa icon fa-file-text-o" ng-if="m_content.type=='pdf'">  {{m_content.page_no}} page(s)</i> </div>
                                                              <!-- <div class="upload-meta" ><i class="fa icon fa-file-text-o" ng-if="m_content.type=='text'">  <i></div> -->
                                                               <div class="upload-footer">
                                                                     <!-- <a href="#">Edit</a>
                                                                      <a href="#">Preview</a>-->
                                                                       <a  data-section="{{section.part_id}}" data-content-type="main_content" data-lesson-index="{{$parent.$index}}" data-content-index="{{$index}}" class="delete-content pointer" data-contentno="{{m_content.content_no}}">Delete</a>
                                                                  </div>
                                                          </div>

                                                          </div>
                                                  </div> <!--End Main Contents info div-->
                                                  <!--Begin Other  Contents info div-->
                                                  <!-- <div  ng-repeat=" others in lesson.content[0].lesson_content track by $index" class="content-item-info">

                                                      <div class="upload-cnt" style="padding-left:0">
                                                                <div class="title-file">
                                                                  <span class="name-file">{{others.content_defaultname}}</span>
                                                                </div>
                                                             <div class="upload-meta">
                                                                  <span>Uploaded by {{others.owner}} . {{others.uploadtime}}</span>
                                                                </div>
                                                                <div class="upload-meta">
                                                                      <i class="fa fa-file icon">  {{others.content_size}}</i>
                                                               </div>
                                                               <div class="upload-footer">
                                                                <a data-section="{{section.part_id}}" data-content-type="othercontent" data-lesson-index="{{$parent.$index}}" data-content-index="{{$index}}" class="delete-content pointer" data-contentno="{{others.content_no}}">Delete</a>
                                                                </div>
                                                      </div>

                                                </div> -->
                                                  <!--End Other Contents info div-->

                                                </div>
                                                <!-- </div> -->

                                               <!-- </li> -->
                                               <!-- "ng-repeat="quiz in section.quiz track by $index" -->
                                                <!-- <li ng-if="lesson.type=='quiz'" class="section-items quiz-li" data-section-no="{{quiz.part_id}}" data-type="quiz" data-outlineno="{{quiz.outlineno}}"> -->
                                                        <div ng-switch-when="quiz" class="dc-quizz-info dc-course-item" data-outline-no="{{lesson.content[0].outlineno}}">
                                                            <div class="dc-content-title" data-outline-no="{{lesson.content[0].outlineno}}">
                                                                <h5 class="xsm black ">Quiz <span class="quiz_counter">{{lesson.content[0].counter}}</span> : <span contenteditable=true ng-blur="test(2,$event,section.part_id,$index)" class="quiz-title" ng-bind="sectionsLessonArray[section.part_id][$index].content[0].name">{{lesson.content[0].name}}</span></h5>
                                                                <div class="course-region-tool">
                                                                  <span class="quiz-edit icon pointer" title="edit">
                                                                    <i class="fa fa-pencil"></i>
                                                                  </span>
                                                                   <span class="section-item-drag icon pointer" title="drag">
                                                                     <i class="fa fa-arrows"></i>
                                                                   </span>
                                                                   <span  ng-click="deleteQuiz($event,$index,section.part_id)" data-quizno="{{lesson.content[0].id}}" data-partid="{{lesson.content[0].part_id}}"
                                                                    class="delete-quiz icon pointer" title="delete">
                                                                    <i class="fa fa-trash"></i>
                                                                  </span>
                                                                  <span class="pointer icon save-quiz-icon" data-section="{{section.part_id}}" data-index="{{$index}}" data-quizno="{{lesson.content[0].id}}" title="save">
                                                                    <i class="fa fa-save"></i>
                                                                  </span>
                                                                </div>
                                                            </div>
                                                            <div class="quizz-body dc-item-body">
                                                                <div class="error"></div>
                                                                <div class="loading hide">
                                                                    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                                                                </div>
                                                                <div class="row">

                                                                    <div class="col-md-2">
                                                                        <input type="checkbox" ng-checked="{{lesson.content[0].limittime !='No'}}" {{lesson.content[0].limittime}} class="limittime" id="{{lesson.content[0].idforlimittime}}">
                                                                        <label for="{{lesson.content[0].idforlimittime}}">
                                                                          <i class="icon icon_check fa fa-check"></i>Limit time</label>
                                                                    </div>
                                                                    <div class="time col-md-3">
                                                                        <div class="form-item">
                                                                            <input rel="txtTooltip" ng-model="sectionsLessonArray[section.part_id][$index].content[0].timelimit" data-html="true" data-placement="right" title="<p class='text-left'>After making any change click the save icon on the right hand corner of the quiz.</p>" type="text" class="minutes form-control" value="{{lesson.content[0].timelimit}}">
                                                                            <label for="">mins</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-md-offset-4 btn-add text-right">
                                                                        <a class="pointer add-question-link" ng-click="questionModal($event)" data-quiz-index="{{$index}}" data-section={{section.part_id}} data-quizno="{{lesson.content[0].id}}" class=""> <i class="fa fa-plus"></i> Add Question</a>
                                                                    </div>
                                                              </div>
                                                                <div class="form-item quiz-desc-div">
                                                                    <textarea maxlength="350" ng-model="sectionsLessonArray[section.part_id][$index].content[0].description" data-tooltip="true" data-placement="right" data-html="true" title="<p class='text-left'>Enter a short description about this quiz. Ensure to click on the save icon on the top right corner of the quiz to save changes.</p>"
                                                                      class="quiz-desc form-control" placeholder="Short introduction ( optional)">
                                                                      {{lesson.content[0].q_description}}
                                                                    </textarea>
                                                                </div>
                                                                <div class="form-item-wrap hold-quiz">
                                                                    <div class="row" style="margin-bottom:0.5em" ng-repeat="question in lesson.content[0].questions track by $index">
                                                                       <div class="quest col-md-10"><span>Question {{$index+1}} : {{question.title}}</span> </div>
                                                                       <div class="form-item col-md-2">
                                                                         <a class="pointer"><i   data-index="{{$index}}" data-section="{{section.part_id}}" data-parentindex="{{$parent.$index}}" data-quizid="{{question.id}}"  data-questionid="{{question.id}}" class="delete-question fa fa-trash"></i></a>
                                                                        <a class="edit-question pointer" ng-click="questionModal($event,'edit')" data-index="{{$index}}" data-section="{{section.part_id}}" data-quiz-index="{{$parent.$index}}" data-quizno={{question.quiz_id}}  data-questionid="{{question.id}}"><i class="fa fa-pencil"></i></a>
                                                                       </div>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                 </ul>
                                        </div>
                                        <ul class="lq-btn">
                                            <li><a class="pointer add-unit btn btn-default"><i class="fa fa-plus"></i>Add Lesson</a>
                                            </li>
                                            <li><a  class="pointer btn btn-default add-quiz"><i class="fa fa-plus"></i>Add quizz</a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="unit-body hide dc-item-body">
                                                    <div class="newunit-form-hidden hide">
                                                    </div>
                                                   <!--  <ng-include src="new_unit_src"></ng-include> -->

                                                </div>

                                                </li>
                                                    <li>
                                                        <div class="newquiz hidden">

                                                        </div>

                                             </li>


                                        </ul>
                                    </div>
                                    </li>
                                    </ul><!--End Section -->
