p.top_nav{display:none;}
.mobile_search_icon{display:none;}
.home_banner img.mobile_banner{display:none;}
.top_search_bg p{display:none;}
.web_hide{display:none;}
p.development{display:none;}


/*@media screen and (min-width:1367px) {
.head2{
	float:left;
	width:100%;
	height:auto;
	background:#000;
}

.head-login {
    background:none;
}
.head-no-bg{
    background:none;
}
}
*/
@media screen and (min-width:1001px) {
.top_search_bg {
	display:inline !important;
}
}
@media screen and (min-width:789px) {
.top_nav_bg	{
	display:inline !important;
}
.top_search_bg{
	display:inline !important;
}
}
@media screen and (min-width:421px) {
.mobile_search{
	display:inline !important;
}
}



@media screen and (max-width:1300px) {
.feature_item_bg {
    margin: 0 auto;
    width: 94%;
    height: auto;
}
.features_box {
    width: 32%;
    height: 283px;
}
.features_txt_bg {width: 70%;}

.top_search_bg {width: 70%;}
ul.mycourse {padding-left: 5%;}
.top_search input {width:88%;}


}

@media screen and (max-width:1250px) {
.course_left {
    width: 29%;
}
.course_right {
    width: 70%;
}
.wrap-course-box {
    margin: 0 auto;
    max-width: inherit;
    width: 530px;
}


}

@media screen and (max-width:1200px) {
.cost_box {width: 33.3%;}
.testimonial {max-width: 60%;}
p.testimonial_txt {margin-top: 20px;}
.features_txt_bg p.feature_course {font-size: 20px;}
}

@media screen and (max-width:1130px) {
.logo_bg {width:23%;}
.category_bg {width: 460px;}
.mycourse_bg{margin-right:0px;}
ul.mycourse {padding-left: 5px;}

.course_left {width: 33%;}
.course_right {width: 65%;}
.pagination_right{display:none;}


}


@media screen and (max-width:1060px) {
.feature_item_bg {
    width: 80%;
}
.features_box {
    width: 48%;
    height: 283px;
}
}

@media screen and (max-width:1024px) {
.user-name {margin-top: 50px;}
.acc-name {font-size: 22px;}
.acc-country {font-size: 16px;}
.user-trohies p {font-size:22px;}
p.user-num{font-size:40px;}
p.user-digit{font-size:30px;padding-top:10px;}
}

@media screen and (max-width:1000px) {
.logo_bg {width: 32%;}
.mycourse_bg {width: 80px;}
ul.mycourse{display:none;}
.feature_bg{
	float:left;
	width:100%;
	height:auto;
	margin-bottom:90px;
}
.banner_content_bg {
	left: 10%;
    top: 24%;
}
.banner_content_bg p.thinking {
    font-size: 30px;
    line-height: 38px;
}
p.helplearn {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
}
p.become a {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}
.search {width: 410px;}
.search input {width: 80%;}
p.helplearn br{display:none;}
.search {width: 280px;}
.search input {width: 72%;}
.search span {width: 25px;}
.nav_arrow {
    right: 20px;
    top: inherit;
    bottom:58px;
}
.user_list ul li.web{display:inline !important;}
.popular_view {
/*    right: 120px !important;*/
    right:155px !important;
    top:inherit !important;
    bottom: 75px !important;
}
p.view_all {
    top: inherit;
    bottom: 30px;
}
.poular_title {margin-top: 50px;}
.popular_bg {margin-top: 15px;}


ul.development_list li span img{width:24px;}
ul.development_list li a{font-size:14px; padding-left: 20px;}


}
@media screen and (max-width:960px) {

.course_container {margin-top:85px;}
.course_left {
	position:fixed;
	z-index:99;
    width: 300px;
	background:none;
}
.yes_no {
    height: auto;
}
.web_hide{
    display: inline !important;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
}
.mobile_hides{
	display:none;
}
.course_right {
    width:100%;
    float: left;
}
.pagination_bg {width: 100%;}
.pagination_left {width: 100%;}
.pagination_left p{
	text-align:center;
    padding-top: 46px;
    padding-bottom: 10px;
	font-size: 28px;
}
p.development_title{
	display:none;
}
p.development {
	display:inline !important;
	float:left;
	width:100%;
    font-size: 20px;
    padding-top:8px;
    padding-bottom:4px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
p.development:hover{
	background:#3f3f54;
}
p.development span{
	display:inline !important;
    vertical-align: middle;
	cursor:pointer;
	}
.more_dev {height:40px;}




.dev_slide {
  display:inline !important;
  background:#f5f5f5;
  padding-right: .25em;
  position:fixed;
  left: -300px;
  top:125px;
  box-sizing: border-box;
  z-index:999;
  overflow-y: scroll;
  width:300px;
  height:92%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align:left;
}
.dev_slide.active_slide { left: 0; }
#mobile-nav {
  background: url(menu-icon.png);
	cursor: pointer;
    left: 10px;
    /* height: 26px; */
    position: absolute;
    top: 13px;
    /* width: 30px; */
    z-index: 30;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 19px;
    background: #EC8F0D;
    padding: 3px 6px;
}
#mobile-nav{
	display:inline !important;
}


.user-img img {
    float: left;
    padding: 15px;
    width: 100px;
    height: auto;
    margin-top: 38px;
}
.user-img{margin-left:20px;}

}

@media screen and (max-width:860px) {
.feature_item_bg {width: 90%;}
.features_box {width: 48%;}
.top_search_bg { width: 60%;}
.top_search input {width: 76%;padding-right: 10px;}
.category_bg {width: 420px;}

}

@media screen and (max-width:800px) {
p.testimonial_txt {font-size: 16px;}
.testimonial p img{width:120px;}

.user-trohies {
    padding-right: 20px;
    padding-left: 20px;
}
.login-content{
	margin-top:30px;
	margin-bottom:30px;
}
.join-inform{
	padding-left:10px;
	padding-right:10px;
}
.walk-teachsity{
	padding-left:10px;
	padding-right:10px;
}
}

@media screen and (max-width:768px) {
.head_top{height:72px;}
.top_search_bg p{
	display: inline !important;
    color: #fff;
    position: absolute;
    right: 15px;
    margin-top: 17px;
	cursor:pointer;
}
.course_container {margin-top:72px;}
.dev_slide{top:112px;}
.logo_bg {
    width:180px;
    position: absolute;
    float: none;
    margin: 0 auto;
    left: 36%;
	z-index: 999;
}
img.logo_sub{
    width: 160px;
    margin-left: 0px;
    margin-top: 20px;
}
.user_list{top:72px;}
.head{height:auto; float:left;}
.mobile_search_icon{
	display: inline !important;
    position: absolute;
    left: 100px;
    top:30px;
}
.category_bg {
    width: 100%;
    position: absolute;
}
.top_search_bg {
	display:none;
    float: left;
    width: 100%;
    background:rgba(0, 0, 0, 0.8);
    margin-left: 0px;
}
.top_search{
    float: none;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
	margin-bottom: 15px;
}
.top_search input {
    width: 88%;
    font-size: 16px;
    padding-top: 14px;
}
.category-toggle-nav {
    border:none;
    font-size: 11px;
}
.category-toggle-nav span.nav_icon {
    vertical-align: -webkit-baseline-middle;
}
.category-toggle-nav:hover, .category-toggle-nav.active_category{background:none;}




.feature_item_bg {
    width: 96%;
}
.header	{
	position:fixed;
	height:55px;
	z-index: 999;
	background: rgba(0, 0, 0, 0.7);
}
img.logo {
    float: left;
    margin-left: 30px;
    margin-top: 13px;
    width: 150px;
}
p.top_nav{
    display: inline !important;
    position: absolute;
    top: 10px;
    right: 20px;
}
p.top_nav a{
}
.top_nav_bg{
	display:none;
	position: absolute;
    right: 10px;
    top:42px;
	z-index: 999;
}
ul.login_right {
    float: left;
    background: #d72818;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul.login_right li {
    list-style: none;
    display: inherit;
    color: #fff;
    text-align: right;
	padding-top:2px;
}
ul.login_right li span {
	display:none;
}
ul.login_right li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    width: 89%;
    float: right;
    padding: 8px 10px;
    border-bottom: 1px solid #fff;
}
ul.login_right li a:hover {
	text-decoration:none;
	background:#c71e0e;
}
ul.login_right li a:last-child{
border-bottom:none !important;
}
.features_bg {
    margin-top: 20px;
}
p.main_title {
    padding-bottom: 0px;
    font-size: 28px;
}
.popular_bg {
    margin-top: 45px;
}
.user-profile{
	margin-top: 72px;
}

}
@media screen and (max-width:700px) {
.features_box {
    float: none;
    margin: 0 auto;
    width: 327px;
    height: 283px;
    margin-bottom: 20px;
    margin-left: auto;
}

}

@media screen and (max-width:680px) {
.banner_content_bg h2 br{display:none;}
.banner_content_bg {width: 90%; top:32%;}
.banner_content_bg p.thinking br{display:none;}
p.helplearn {
    font-size: 14px;
    margin-top: 2px;
}
.banner_content_bg h2 {
    font-size: 26px;
}
p.become {
    margin-top: 10px;
}
.search {
    margin-top: 12px;
	height:38px;
}
.search input {
    padding: 7px 14px;
    width: 77%;
}
p.become a {
    font-size: 12px;
    padding: 8px;
}
.search span {
    height: 37px;
}

}

@media screen and (max-width:670px) {

.user-profile {
    margin-top: 72px;
}
.user-img img {

    margin-top: 15px;
}
	.acc-name {
    font-size:18px;
}
.acc-country {
    font-size: 16px;
}
.user-trohies p {
	font-size:20px;
}
p.user-num{
	font-size:30px;
}
p.user-digit{
	font-size:26px;
	padding-top: 10px;
}
.start-learning a{
	font-size:18px;
}
.user-name{
		margin-top:50px;
	}
}


@media screen and (max-width:640px) {
.wrap-course-box {
    width:265px;
}
.top_search {
    width: 80%;
}
.top_search input {
    width: 85%;
}
}



@media screen and (max-width:600px) {
.logo_bg{width:150px;}
.logo_bg img{width:150px;}
.category-toggle-nav:hover, .category-toggle-nav.active_category{background:none;}
.footer_bg { height: auto;}
.footer_left_bg {width: 100%;}
.foot_center {width: 100%; margin-top: 12px;}
.foot_right{width: 100%;}
.foot_center p {text-align: center;}
.foot_right ul {
    float: none;
    margin: 0 auto;
    width: 220px;
    margin-top: 20px;
}
.footer_left_bg ul {
    float: none;
    margin: 0 auto;
    width: 120px;
}
.foot_bg {
    margin-bottom:10px;
    margin-top:14px;
}
.features_txt_bg p.feature_course {
    font-size: 20px;
    line-height: 32px;
}
.features_txt_bg p {
    font-size: 16px;
}

.user-trohies p {
	font-size:18px;
}
p.user-num{
	font-size:24px;
}
p.user-digit{
	font-size:22px;
}
.join-inform{
	font-size:36px;
}
.walk-teachsity{
	font-size:22px;
}
.start-learning{
		margin-top:10px;
		width:95%;
		margin:0 auto;
}

}

@media screen and (max-width:580px) {
.home_banner img.banner_img{
	display:none;
}
.home_banner img.mobile_banner{
	display: inline !important;
	position:relative;
    float: left;
    width: 100%;
    height: auto;
}


}


@media screen and (max-width:490px) {
.head_left {width:100%;}
.head_right {width: 100%;}
.cost_box {
    width: 100%;
    height: 200px;
}
.cost_box p {margin-top: 20px;}
p.courses_txt {margin-top: 20px;}
p.amount {margin-top: 20px;}
.top_search input {
    width: 80%;
}
}

@media screen and (max-width:480px) {
.user-profile {
    margin-top: 72px;
}
.profile-left{
		margin:0 auto;
		width:100%;
		float:none;
		text-align:center;
		height:auto;
		background:#1D252B;
		padding-bottom:25px;

	}
	.user-img img{
		margin:0 auto;
		float:none;
		text-align:center;
		clear:both;
		padding-top:5px;
	}
	.user-name{
		margin-top:5px;
	}
	.profile-right{
		width:100%;
		float:none;
		margin:0 auto;
		text-align:center;
		/*background:rgba(0,0,0,0.7);*/
		background:url(../images/profile-right.png) repeat left;
		height:auto;
		float:left;
	}
	.user-balance{
	margin: 0 auto;
    float: none;
    text-align: center;
    display: inline-block;
	}
	.user-trohies{
		float:left;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:10px;
	}
	.learing {
    padding-top: 10px;
    padding-left: 10px;
}
.two-tab {
    height: auto;
    padding-bottom: 10px;
}
	.learing a{
		    font-size: 18px;
	}
	.location-img img{
		float:none;
	}


}

@media screen and (max-width:430px) {
.banner_content_bg {top: 30%;}
.banner_content_bg p.thinking {font-size: 18px; line-height: 22px;}
p.helplearn {font-size: 12px; margin-top: 0px;}
.search {width: 250px; height:32px;}
.search input {font-size: 12px; width:74%; padding: 8px 14px;}
.search span {height: 34px;}
.features_box{width:300px;}

}

@media screen and (max-width:380px) {
.logo_bg {width: 135px;}
.logo_bg img {width: 135px;}
.category-toggle-nav span.mobile_hide{display:none;}
.logo_bg {left: 27%;}
.mobile_search_icon {
    padding-left: 5px;
    left: 40px;
    top: 28px;
}
/*.top_search {
    width: 250px;
    height: 38px;
}
*/
.top_search input {
    width: 75%;
}
.top_search span{height:45px;}
.home_banner img.mobile_banner {height:280px;}
.banner_content_bg {width: 82%;}
.features_box {width:280px;}
.features_txt_bg p.feature_course {font-size: 20px;}

}

@media screen and (max-width:360px) {
	.learing a{
		    font-size: 16px;
	}
}

@media screen and (max-width:330px) {
img.logo {margin-left: 22px;}
.banner_content_bg {top: 32%;}
.banner_content_bg p.thinking {font-size: 20px;}

}
