p.top_nav{display:none;}
.mobile_search_icon{display:none;}
.home_banner img.mobile_banner{display:none;}
.top_search_bg p{display:none;}
.web_hide{display:none;}
p.development{display:none;}

.profile_picture ul.dropdown-menu li.mobile_only{
	display:none;
}

@media screen and (min-width:1024px) {
	#category-result .course_right {
		padding-left: 4em;
    padding-right: 4em;
}
	/*#quizz-intro-section .container {
    padding-left: 100px !important;
    padding-right: 100px !important;
}*/
}
@media screen and (min-width:1001px) {
.top_search_bg {
	display:inline !important;
}
#quizz-intro-section .container {
	padding-left: 100px !important;
	padding-right: 100px !important;
}
}
@media screen and (min-width:789px) {
.top_nav_bg	{
	display:inline !important;
}
.top_search_bg{
	display:inline !important;
}
}

/*@media only screen and (min-width:701px) and (max-width:768px){
.dev_slide {
    height: 85% !important;
}
}
@media only screen and (min-width:480px) and (max-width: 700px){
.dev_slide {
    height: 68% !important;
}
}*/
@media screen and (min-width:421px) {
.mobile_search{
	display:inline !important;
}

}



@media screen and (max-width:1300px) {
.feature_item_bg {
    margin: 0 auto;
    width: 94%;
    height: auto;
}
.features_box {
    width: 32%;
    height: 230px;
}
.features_txt_bg {width: 70%;}

.top_search_bg {width: 70%;}
ul.mycourse {padding-left: 5%;}
.top_search input {width:80%;}
.page_width {width:96% !important;}
.name_bg {width: 16%;}
.art_of_bg {margin-left: 10px;}
.description_right {width: 32%;}
.right_side_box {width: 100%;}
.right_side_course{width: 100%;}
.v_line{display:none;}
.description_left {width: 65%;}
img.video_img{width:96%;}
.rate_img img {
    width: 100px;
    margin-top: 14px;
    margin-left: 5px;
}
.rate_img {
    width: 28%;
}
.rate_img img {
    width: 98%;
    margin-top: 14px;
    margin-left: 5px;
}
p.rate_title {
    font-size: 16px;
}
p.rate_amount {
    font-size: 16px;
}

}

@media screen and (max-width:1250px) {
.course_left {
    width: 29%;
}
.course_right {
    width: 70%;
}
.wrap-course-box {
    margin: 0 auto;
    max-width: inherit;
    width: 530px;
		padding: 0
}


}

@media screen and (max-width:1200px) {
.cost_box {width: 33.3%;}
.testimonial {max-width: 60%;}
p.testimonial_txt {margin-top: 20px;}
.features_txt_bg p.feature_course {font-size: 20px;}

.review_content{
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-left: inherit !important;
    margin-right: inherit !important;
}
.review_box_right {
    float: left;
    width: 98%;
    margin-left: 30px;
    margin-top: 10px;
}

.courses_bottom {
    margin: 0 auto;
    width:845px;
}


}
@media screen and (max-width:1130px) {
.logo_bg {width:23%;}
.category_bg {width: 460px;}
.mycourse_bg{margin-right:0px;}
ul.mycourse {padding-left: 5px;}

.course_left {width: 33%;}
.course_right {width: 65%;}
.pagination_right{display:none;}
.top_left {width: 60% !important;}
.top_right {width: 36% !important;}
.course_page_right .right_side_box{
height: 300px;
margin-bottom:20px;
}


}

@media screen and (max-width:1090px) {
/*--new--*/
.head_left2 {
    width: 24%;
}
.search_bg {
    width: 45%;
}


}

@media screen and (max-width:1060px) {
.feature_item_bg {
    width: 80%;
}
.features_box {
    width: 48%;
    height: 283px;
}
}

@media screen and (max-width:1024px) {
.user-name {margin-top: 50px;}
.acc-name {font-size: 22px;}
.acc-country {font-size: 16px;}
.user-trohies p {font-size:22px;}
p.user-num{font-size:40px;}
p.user-digit{font-size:30px;padding-top:10px;}

#monthly-earning-chart {
    min-width: 700px;
}
}

@media screen and (max-width:1000px) {
	.animation-desc {
    margin-top: 0em;
}
	/*#search-result-list-wrapper{
		    margin-left: 94;
	}*/
	#typeahead-submit{
		padding: 0 !important;
		font-size: 1.4em;
		margin-top: 7px
	}
.logo_bg {width: 32%;}
.mycourse_bg {width: 80px;}
ul.mycourse{display:none;}
.feature_bg{
	float:left;
	width:100%;
	height:auto;
	margin-bottom:90px;
}
.profile_picture ul.dropdown-menu li.mobile_only{
	display:inline !important;
}
.banner_content_bg {
	left: 10%;
    top: 24%;
}
.banner_content_bg p.thinking {
    font-size: 30px;
    line-height: 38px;
}
p.helplearn {
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
}
p.become a {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}
.search {width: 410px;}
.search input {width: 100%;}
p.helplearn br{display:none;}
/*.search {width: 280px;}*/
.search input {width: 100%;}
/*.search span {width: 25px;}*/
.nav_arrow {
    right: 20px;
    top: inherit;
	bottom: 74px;
}
.user_list ul li.web{display:inline !important;}
/*.popular_view {
    right: 120px !important;
    top:inherit !important;
    bottom: 75px !important;
}*/
.popular_view {
/*    right: 120px !important;*/
    right:155px !important;
    top:inherit !important;
    bottom: 75px !important;
}
p.view_all {
    top: inherit;
    bottom: 30px;
}
.poular_title {margin-top: 50px;}
.popular_bg {margin-top: 15px;}


ul.development_list li span img{width:24px;}
ul.development_list li a{font-size:14px; padding-left: 20px;}


.tutor_right{display:none;}
.profile_picture {width: 80px;}
.head_left2 {width: 30%;}
.search_bg {width: 58%;}

.name_bg{width:100%;}
.art_of_bg{width:100%;}
.take_bg{width:100%;}
.name_bg img {
    margin-left:inherit;
    margin: 0 auto;
    display: inherit;
}
p.name_txt {text-align: center;}
p.art{text-align: center; margin-bottom: 0px;}
p.art_tex {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.course-ratings .rating {
	float:left;
}
.rate_star .rating {
	float:left;
}
.rating {
    float:none;
    margin-top: 2px;
    margin: 0 auto;
    text-align: center;
    display: table;
}
p.rating_count {
    padding-top: 15px;
    text-align: center;
}
p.share {
    padding-right: 5%;
}
.take_box {
    float: none;
    margin: 0 auto;
}
p.take_course {
    margin-top: 25px;
    clear: both;
    display: -webkit-inline-box;
    margin-left: 42px;
}
.right_side_course{display:none;}
p.right_title{display:none;}
.description_right {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
    clear: both;
    display: table;
}
.description_left {
    float: none;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
img.video_img {
    float: left;
    width: 100%;
}
.page_width {
    width: 94% !important;
}
.right_side_box {
    width: 430px;
}

.course_page_right .right_side_box {
    width: 328px;
}
}



@media screen and (max-width:991px) {
	.embed-responsive-16by9 {
    padding-bottom: 56.25% !important;
}
.review_left{
	width:30% !important;
}
.review_right{
	width:68% !important;
}


}

@media screen and (max-width:960px) {
	#search-result .course_right {
    width: 100%;
}
.top_left {
    width: 100% !important;
	margin-left:0px;
}
.course_container {margin-top:85px;}
.course_left {
	position:fixed;
	z-index:99;
    width: 300px;
	background:none;
}
.yes_no {
    height: 42px;
}
.web_hide{
    display: inline !important;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    clear: both;
}
.mobile_hides{
	display:none;
}
.course_right {
    width:100%;
    float: left;
}
.pagination_bg {width: 100%;}
.pagination_left {width: 100%;}
.pagination_left p{
	text-align:center;
    padding-top: 46px;
    padding-bottom: 10px;
	font-size: 28px;
}
p.development_title{
	display:none;
}
p.development {
	display:inline !important;
	float:left;
	width:100%;
    font-size: 20px;
    padding-top:8px;
    padding-bottom:4px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
p.development:hover{
	background:#3f3f54;
}
p.development span{
	display:inline !important;
    vertical-align: middle;
	cursor:pointer;
	}
.more_dev {height:40px;}




.dev_slide {
  display:inline !important;
  background:#f5f5f5;
  padding-right: .25em;
  position:fixed;
  left: -300px;
  top:125px;
  box-sizing: border-box;
  z-index:999;
  overflow-y: scroll;
  width:300px;
  height:90%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align:left;
}
.dev_slide.active_slide { left: 0; }
#mobile-nav {
  background: url(menu-icon.png);
	cursor: pointer;
    left: 10px;
    /* height: 26px; */
    position: absolute;
    top: 13px;
    /* width: 30px; */
    z-index: 30;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 19px;
    background: #EC8F0D;
    padding: 3px 6px;
}
#mobile-nav{
	display:inline !important;
}


.user-img img {
    float: left;
    padding: 15px;
    width: 100px;
    height: auto;
    margin-top: 38px;
}
.user-img{margin-left:20px;}

.top_right {width: 100% !important;}
.course_page_right{
	/*width: 430px;*/
    margin: 0 auto;
}
.course_page_right .right_side_box {
    width: 100%;
    height: 282px;
}
}

@media screen and (max-width:900px) {
.courses_bottom {
    margin: 0 auto;
    width: 565px;
}
@media screen and (max-width:860px) {
	.top_search_box .twitter-typeahead {
    width: 93%;
}

.top-nav-list > .active .list-item-body{height: 72% !important; top:3px;}
.top_search_box #typeahead-submit {
    margin-top: 2px;
}
	/*#search-result-list-wrapper {
    margin-left: 123px;
}*/
.feature_item_bg {width: 90%;}
.features_box {width: 48%;}
.top_search_bg { width: 60%;}
.top_search input {width: 76%;padding-right: 10px;}
.category_bg {width: 420px;}


/*--new--*/
.course_container {
	margin-top: 119px;
}
.dev_slide{
    top: 158px;
}
.search_bg {
	width: 100%;
	margin-bottom: 15px;
    margin-top: 0px;
	}
.mobile_center {
    float: left;
    margin-left: 30px;
    width:100%;
}
.profile_picture{
	padding-bottom:0px;
	padding-top:0px;
}
img.logo2 {
    width: 150px;
    margin-top: 12px;
}
a span.profile img {
    margin-top: 5px;
}
.profile_picture i {
    vertical-align: middle;
}
.user-profile {
    margin-top: 117px;
}
.dev_slide{
	height:73%;
}

.tab_right_side{
	width:100% !important;
	margin-top: 20px;
}
}

@media screen and (max-width:800px) {
	#user-profile-setting{
		margin-top: 10em;
	}
	.body_content {
    float: left;
    margin-top: 128px;
}
p.testimonial_txt {font-size: 16px;}
.testimonial p img{width:120px;}

.user-trohies {
    padding-right: 20px;
    padding-left: 20px;
}
.login-content{
	/*margin-top:30px;*/
	margin-bottom:30px;
}
.join-inform{
	padding-left:10px;
	padding-right:10px;
}
.walk-teachsity{
	padding-left:10px;
	padding-right:10px;
}

.video_left{
	width:100% !important;
	margin-left:0%;
}
#search_filter .search-div{
    padding-left: 15px !important;
		margin-bottom: 12px;
		margin-top: 20px;
}
#search_filter .sorter-div{
	 padding-right: 15px !important;
}
#tut-list-wrapper {
    margin-top: 20px;
}
.content_bg{
	/*margin-top: 2px;*/
	margin-top: -14px;
}
}

@media screen and (max-width:768px) {
	.checkout-container {
    margin-top: 9.3em;
}
	.site-error{
		margin-top: 123px;
	}
	.div-before-modal-content {
    margin-top: 10em;
}
	.question-content-wrap {
			max-height: 250px;
			min-height: 300px;
	}
.top-nav-list > .active .list-item-body {
    width: 85% !important;
}
	.loader{
		top:114px;
	}
	.pay-ment-success{
		margin-top: 9em;
	}
	.drop-down-toggler{
		float: right
	}
	.drop-down-toggler img{
    margin-top: 5px;
    margin-bottom: 10px;
}
	.subscribe-success{
		margin-top: 107px;
	}

	.semi-content {
    padding-top: 126px;
	}
.scroll_cate {
    height: 70%;
}
.head_top{height:72px;}
.top_search_bg p{
	display: inline !important;
    color: #fff;
    position: absolute;
    right: 15px;
    margin-top: 17px;
	cursor:pointer;
}
.logo_bg {
    width:180px;
    position: absolute;
    float: none;
    margin: 0 auto;
    left: 36%;
	z-index: 999;
}
img.logo_sub{
    width: 160px;
    margin-left: 0px;
    margin-top: 20px;
}
.user_list{top:72px;}
.head{height:auto; float:left;}
.mobile_search_icon{
	display: inline !important;
    position: absolute;
    left: 100px;
    top:30px;
}
.category_bg {
    width: 100%;
    position: absolute;
}
.top_search_bg {
	display:none;
    float: left;
    width: 100%;
    background:rgba(0, 0, 0, 0.8);
    margin-left: 0px;
}
.top_search{
    float: none;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
	margin-bottom: 15px;
}
.top_search input {
    width: 88%;
    font-size: 16px;
    padding-top: 14px;
}
.category-toggle-nav {
    border:none;
    font-size: 11px;
}
.category-toggle-nav span.nav_icon {
    vertical-align: -webkit-baseline-middle;
}
.category-toggle-nav:hover, .category-toggle-nav.active_category{background:none;}




.feature_item_bg {
    width: 96%;
}
.header	{
	position:fixed;
	height:55px;
	z-index: 999;
	background: rgba(0, 0, 0, 0.7);
}
img.logo {
    float: left;
    margin-left: 30px;
    margin-top: 13px;
    width: 150px;
}
p.top_nav{
    display: inline !important;
    position: absolute;
    top: 10px;
    right: 20px;
}
p.top_nav a{
}
.top_nav_bg{
	display:none;
	position: absolute;
    right: 10px;
    top:42px;
	z-index: 999;
}
ul.login_right {
    float: left;
    background: #d72818;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul.login_right li {
    list-style: none;
    display: inherit;
    color: #fff;
    text-align: right;
	padding-top:2px;
}
ul.login_right li span {
	display:none;
}
ul.login_right li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    width:100%;
    float: right;
    padding: 8px 10px;
    border-bottom: 1px solid #fff;
}
ul.login_right li a:hover {
	text-decoration:none;
	background:#c71e0e;
}
ul.login_right li a:last-child{
border-bottom:none !important;
}
.features_bg {
    margin-top: 20px;
}
p.main_title {
    padding-bottom: 0px;
    font-size: 28px;
}
.popular_bg {
    margin-top: 45px;
}
p.become{margin-top:10px;}
.search{margin-top:10px;}


.review_left{
	display:none !important;
}
.review_right{
	width:100% !important;
}
.v_line2{display: none;}
.review_box_right{
	margin-left:0px;
	margin-right:0px;
}
.course_right{
    padding-left: 40px;
    padding-right: 40px;
}
/*.content_bg {
    padding-bottom: 34px;
}*/

}
@media screen and (max-width:773px) {
	.course-box{
		margin-right: 5px;
	}
}
@media screen and (max-width:736px) {
	.div-before-modal-content{
		padding-top: 155px;
	}
	#pjax_course_search_result{
    padding-left: 7em;
    padding-right: 7em;
	}
}
@media screen and (max-width:700px) {
.features_box {
    float: none;
    margin: 0 auto;
    width: 327px;
    height: 283px;
    margin-bottom: 20px;
    margin-left: auto;
}

.tut_feature{
		margin-bottom: 10px
}
.tut_feature {
    max-width: 100%;
}
.howitworks .text-content {
    width: 100%;
		margin-bottom: 10px
}
.course_bg {
    padding-bottom: 16%;
}
#monthly-earning-chart {
    min-width: 800px;
}
div[dir='ltr']{
	left:-7em !important ;
}
}

@media screen and (max-width:680px) {
.banner_content_bg h2 br{display:none;}
.banner_content_bg {width: 90%; top:32%;}
.banner_content_bg p.thinking br{display:none;}
p.helplearn {
    font-size: 14px;
    margin-top: 2px;
}
.banner_content_bg h2 {
    font-size: 26px;
}
p.become {
    margin-top: 10px;
	margin-bottom: 0px;
}
.search {
    margin-top: 12px;
	height:38px;
}
.search input {
    padding: 7px 14px;
    width: 100%;
}
p.become a {
    font-size: 12px;
    padding: 8px;
}
/*.search span {
    height: 37px;
}*/
#pjax_course_search_result {
    padding-left: 5em;
    padding-right: 5em;
}


}
@media screen and (min-width:670px) {
	.course_right {
    padding-left: 5px;
    padding-right: 5px;
	}
}
@media screen and (max-width:670px) {
	.top-nav-list > .active .list-item-body {
	    height:72% !important;
	}
.user-img img {

    margin-top: 15px;
}
	.acc-name {
    font-size:18px;
}
.acc-country {
    font-size: 16px;
}
.user-trohies p {
	font-size:20px;
}
p.user-num{
	font-size:30px;
}
p.user-digit{
	font-size:26px;
	padding-top: 10px;
}
.start-learning a{
	font-size:18px;
}
.user-name{
		margin-top:50px;
	}
}

@media screen and (max-width:667px){
	#pjax_course_search_result {
    padding-left: 3em;
    padding-right: 3em;
	}
}
@media screen and (max-width:640px) {
.wrap-course-box {
    width:265px;
}
.top_search {
    width: 80%;
}
.top_search input {
    width: 85%;
}


/*--new--*/
.course_container {
    margin-top: 130px;
}
.dev_slide {
    top: 153px
}
.mobile_center {width: 96%;}
.search_bg .btn-group>.btn {font-size: 12px;}
.category_list span img{
    vertical-align: sub;
    width: 18px;
    height: 14px;
}
.top_search_box{height:39px;}
.top_search_box input {
    font-size: 16px;
    padding: 9px 14px;
}
.top_search_box span{height:38px;}
.user-profile {
    margin-top: 110px;
}

}



@media screen and (max-width:600px) {
.logo_bg{width:150px;}
.logo_bg img{width:150px;}
.category-toggle-nav:hover, .category-toggle-nav.active_category{background:none;}
.footer_bg { height: auto;}
.footer_left_bg {width: 100%;}
.foot_center {width: 100%; margin-top: 12px;}
.foot_right{width: 100%; margin-top: 0px; margin-bottom: 10px;}
.foot_center p {text-align: center;}
.foot_right ul {
    float: none;
    margin: 0 auto;
    width: 220px;
    margin-top:10px;
}
.footer_left_bg ul {
    float: none;
    margin: 0 auto;
    width: 120px;
}
.foot_bg {
    margin-bottom:10px;
    margin-top:14px;
}
.features_txt_bg p.feature_course {
    font-size: 20px;
    line-height: 32px;
}
.features_txt_bg p {
    font-size: 16px;
}

.user-trohies p {
	font-size:18px;
}
p.user-num{
	font-size:24px;
}
p.user-digit{
	font-size:22px;
}
.join-inform{
	font-size:36px;
}
.walk-teachsity{
	font-size:22px;
}
.start-learning{
		margin-top:10px;
		width:95%;
		margin:0 auto;
}
.content_bg {
	padding-bottom: 140px;
		/*padding-bottom: 72px;*/
}


.courses_bottom {
    margin: 0 auto;
    width: 100%;
}
.courses_page_box{
    margin: 0 auto;
    width:290px;
}



}

@media screen and (max-width:580px) {
	#pjax_course_search_result{
		padding-left: 2em;
		padding-right: 2em;
	}
.home_banner img.banner_img{
	display:none;
}
.home_banner img.mobile_banner{
	display: inline !important;
	position:relative;
    float: left;
    width: 100%;
    height: auto;
}


}

@media screen and (max-width:549px) {
.top-nav-list > .active .list-item-body {
    height: 60% !important;
}
.list-item-body{
    height: 60% !important;
}

}
@media screen and (max-width:520px) {
	h3, .h3 {
    font-size: 14px !important;
}
.top-nav-list > li > a{min-width:45px !important;}
p.fa_icon2 {
    font-size: 10px;
}
p.fa_icon img{
	width:15px;
}

}

@media screen and (max-width:500px) {
.page_width {
    width: 90% !important;
}

}

@media screen and (max-width:490px) {
	.embed-responsive-16by9 {
    padding-bottom: 106% !important;
}
.question-content-wrap {
    max-height: 270px;
		min-height: 270px;
		overflow-y: scroll;
}
.question-content-wrap .question-content {
    padding: 30px 10px 60px 22px;
}
	.create-course-sidebar .list-bar{
		text-align: center;
	}
	#profile-content #sidebar{
		max-width: 100%;
		padding-right: 15px !important;
	}
	#profile-content #page-main-content{
		border-left: none;
	}
	#profile-content{
		display: block;
	}
	.top_search_box .twitter-typeahead {
    width: 89%;
}.top_search_box input {
    width: 80%;
}
.head_left {width:100%;}
.head_right {width: 100%;}
.cost_box {
    width: 100%;
    height: 200px;
}
.cost_box p {margin-top: 20px;}
p.courses_txt {margin-top: 20px;}
p.amount {margin-top: 20px;}
.top_search input {
    width: 80%;
}
/*.dev_slide {
    height: 73%;

}*/

}

@media screen and (max-width:480px) {
	/*#search-result-list-wrapper {
    margin-left: 70px;
}*/
.testimonial {
    max-width: 54%;
}
.testimonial_bg .nav_arrow2 .nexts {
    right:0% !important;
}
.testimonial_bg .nav_arrow2 .prevs {
    left:0% !important;
}
.profile-left{
		margin:0 auto;
		width:100%;
		float:none;
		text-align:center;
		height:auto;
		background:#1D252B;
		padding-bottom:25px;

	}
	.user-img img{
		margin:0 auto;
		float:none;
		text-align:center;
		clear:both;
		/*padding-top:5px;*/
	}
	.user-name{
		margin-top:5px;
	}
	.profile-right{
		width:100%;
		float:none;
		margin:0 auto;
		text-align:center;
		/*background:rgba(0,0,0,0.7);*/
		background:url(../images/profile-right.png) repeat left;
		height:auto;
		float:left;
	}
	.user-balance{
	margin: 0 auto;
    float: none;
    text-align: center;
    display: inline-block;
	}
	.user-trohies{
		float:left;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:10px;
	}
	.learing {
    padding-top: 10px;
    padding-left: 10px;
}
.two-tab {
    height: auto;
    padding-bottom: 10px;
}
	.learing a{
		    font-size: 18px;
	}
	.location-img img{
		float:none;
	}

	.course_bg {
	    padding-bottom: 45%;
	}
	.student_courses{
		padding-right: 60px !important;
	  padding-left: 60px !important;
	}
	div[dir='ltr']{
		left:-5em !important ;
	}
	#monthly-earning-chart{
		width:100%;
		min-width:500;
		 height:400px
	}

.description_right {
    width: 98%;
}
.right_side_box {
    width: 100%;
}

span.right_txt{
	float:none;
	padding-right:0px;
	padding-left:20px;
}
}

@media screen and (max-width:460px) {
.category_list span.cate_txt{display:none;}

.top_left p.share{
    margin-top: 15px;
    margin-bottom: 15px;
}
}



@media screen and (max-width:430px) {
	#typeahead-submit{
		padding: 0 !important;
		font-size: 1em;
		margin-top: 3px;
	}
.banner_content_bg {top: 30%;}
.banner_content_bg p.thinking {font-size: 18px; line-height: 22px;}
p.helplearn {font-size: 12px; margin-top: 0px;}
.search {width: 250px; height:32px;}
.search input {font-size: 12px; width:100%; padding: 7px 12px 12px 11px !important}
/*
.search span {height: 34px;}*/
.features_box{width:300px;}

.land_top_left{display:none;}
}
@media screen and(max-width:414px) {
	#pjax_course_search_result{
		padding-left: 6em;
		padding-right: 6em;
	}
}
@media screen and (max-width:390px) {
.right_side_box{
	height:330px;
}
}
@media screen and (max-width:380px) {
.logo_bg {width: 135px;}
.logo_bg img {width: 135px;}
.category-toggle-nav span.mobile_hide{display:none;}
.logo_bg {left: 27%;}
.mobile_search_icon {
    padding-left: 5px;
    left: 40px;
    top: 28px;
}
/*.top_search {
    width: 250px;
    height: 38px;
}
*/
.top_search input {
    width: 100%;
}
.top_search span{height:45px;}
.home_banner img.mobile_banner {height:280px;}
.banner_content_bg {width: 82%;}
.features_box {width:280px;}
.features_txt_bg p.feature_course {font-size: 20px;}


.top_search_box input{
    width: 100%;
}
.course_page_right .right_side_box {
    width: 100%;
    height: 320px;
}
.percent_bg {
    width: 100%;
    margin-left:0px;
}
}

@media screen and (max-width:360px) {
	.learing a{
		    font-size: 16px;
	}
}

@media screen and (max-width:330px) {
img.logo {margin-left: 22px;}
.banner_content_bg {top: 32%;}
.banner_content_bg p.thinking {font-size: 20px;}

.right_side_box{height:360px;}
.course_page_right .right_side_box {height: 340px;}
#pjax_course_search_result{
	padding-left: 3em;
	padding-right: 3em;
}
}
