

.icon {
  width: auto;
  display: inline-block;
}
.right_slide_bg{
	background:#ededed;
}

/* LEARNING PAGE */
.top-nav {
  /*position: fixed;*/
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 99999;
}
.top-nav h4 {
  display: table-cell;
  vertical-align: middle;
  padding: 0 32px;
}
.top-nav-list {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-nav-list > li {
  text-align: center;
  display: inline-block;
}
.top-nav-list > li ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-nav-list > li > a {
  position: relative;
  display: table-cell;
  font-family: "FuturaStd-Light";
  font-size: 14px;
  color: #fff;
  background-color: #777779;
  padding: 0 10px;
  /*line-height: 53px;*/
  min-width: 60px;
  height:63px;
  z-index: 999;
  border-left: 1px solid #d4d4d4;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.top-nav-list > li > a:hover {
  color: #fff;
  text-decoration:none;
}
.top-nav-list > li > a span.tooltip {
  display: block;
  position: absolute;
  font-size: 13px;
  color: #fff;
  background-color: #333;
  line-height: 2em;
  padding: 0 10px;
  width: 100%;
  left: 0;
  bottom: -10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.top-nav-list > li > a span.tooltip:before {
  content: '';
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: #333;
  width: 0;
  margin: auto;
  top: -10px;
  left: 0;
  right: 0;
}
.top-nav-list > li > a:hover span {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.top-nav-list > li:first-child > a {
  border: 0;
}
.top-nav-list > .active > a {
  background-color: #ef4132;
  border-color: #ef4132;
  color: #fff;
}
.top-nav-list > .active .list-item-body {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
    transform: translateX(0);
    z-index: 1;
    top:0;
    height: 485px !important;
    width: 680px !important;
    /*background: #ededed;*/
    overflow-y: scroll;
}
.top-nav-list > .active:hover > a {
  color: #fff;
}
.list-item-body {
  position: fixed;
    top:0;
    height: 485px !important;
    width: 680px !important;
    /*background: #ededed;*/
    overflow-y: scroll;
  right: 0;
  margin: 60px 0;
  font-size: 14px;
  text-align: left;
  z-index: 0;
  overflow: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.7, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0, 1, 0.7, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0, 1, 0.7, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0, 1, 0.7, 1) 0s;
  transition: all 0.3s cubic-bezier(0, 1, 0.7, 1) 0s;
}
.list-item-body.note-learn-body {
  overflow: visible;
}
.slide_bg{
	background:#ededed;
}




/*---tab2---*/
.outline_accordion{
	margin:5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.smk_accordion .accordion_in {
  position: relative;
  z-index: 10;
  margin-top: 1px;
  overflow: hidden;
}

.smk_accordion .accordion_in .acc_head {
    position: relative;
    background: #000;
    padding: 10px;
    font-family: "FuturaStd-Book";
    font-size: 18px;
	color:#fff;
    display: block;
    cursor: pointer;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.smk_accordion .accordion_in .acc_content {
  background: #F9F9F9;
  color: #7B7E85;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}

.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
 /* border-radius: 3px 3px 0 0;*/
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  /*border-radius: 0 0 3px 3px;*/
}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
    background: #ef4132;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 20px;
}
