@font-face {
font-family: "FuturaStd-Bold";
src: url('../css/fonts/FuturaStd-Bold.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-BoldOblique";
src: url('../css/fonts/FuturaStd-BoldOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Condensed";
src: url('../css/fonts/FuturaStd-Condensed.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-CondensedBold";
src: url('../css/fonts/FuturaStd-CondensedBold.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-CondensedBoldObl";
src: url('../css/fonts/FuturaStd-CondensedBoldObl.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-CondensedExtraBd";
src: url('../css/fonts/FuturaStd-CondensedExtraBd.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-CondensedLight";
src: url('../css/fonts/FuturaStd-CondensedLight.otf') format('truetype');
}

@font-face {
font-family: "FuturaStd-CondensedLightObl";
src: url('../css/fonts/FuturaStd-CondensedLightObl.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-CondensedOblique";
src: url('../css/fonts/FuturaStd-CondensedOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-CondExtraBoldObl";
src: url('../css/fonts/FuturaStd-CondExtraBoldObl.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-ExtraBold";
src: url('../css/fonts/FuturaStd-ExtraBold.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-ExtraBoldOblique";
src: url('../css/fonts/FuturaStd-ExtraBoldOblique.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-Heavy";
src: url('../css/fonts/FuturaStd-Heavy.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-HeavyOblique";
src: url('../css/fonts/FuturaStd-HeavyOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Light";
src: url('../css/fonts/FuturaStd-Light.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-LightOblique";
src: url('../css/fonts/FuturaStd-LightOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Book";
src: url('../css/fonts/FuturaStd-Book.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-BookOblique";
src: url('../css/fonts/FuturaStd-BookOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Medium";
src: url('../css/fonts/FuturaStd-Medium.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-MediumOblique";
src: url('../css/fonts/FuturaStd-MediumOblique.otf') format('truetype');
}



html, body{
	margin:0 auto;
	font-family:FuturaStd-Light !important;
	letter-spacing:1px;
	height:100%;
	text-decoration:none;
}

.full_height{
	float:left;
	width:100%;
    min-height:100%;
    position:relative;
}

.content_bg{
	float:left;
	width:100%;
	padding-bottom:80px;
	margin-top: 73px;
}
.tutor_content_bg{
	float:left;
	width:100%;
	padding-bottom:80px;
	margin-top: 0px;
}
.become-tutor-content-bg {
    float: left;
    width: 100%;
    padding-bottom: 80px;
    /* margin-top: 73px; */
}
p, h1, h2, h3, h4, h5, h6{
	margin:0px;
	padding:0px;
}
ul{
	padding:0;
}
ul li{
	list-style: none;
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
}
.radio-style label, .checkbox-style label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-style input:checked + label .icon-radio {
    border-color: #ef4132;
}

.icon-radio:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ef4132 !important;
    opacity: 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.icon-radio {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #d4d4d4;
    top: 1px;
    margin-right: 3px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.radio-style input:checked + label .icon-radio:before {
    opacity: 1;
}

.radio-style:after, .checkbox-style:after {
    content: '';
    display: block;
    clear: both;
}
.md-check-1:before {
    content: "\e60c";
}

.wrap{
	margin:0 auto;
	max-width:1366px;
	height:auto;
}

.home_banner{
	float:left;
	width:100%;
	height:auto;
	position:relative;
}
.home_banner img.banner_img{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}
.home_img{
	margin:0 auto;
	max-width:1366px;
	height:auto;
}
.head_top{
	float:left;
	width:100%;
	height:85px;
	background:#000;
    position: fixed;
    z-index: 999;
}
.header{
	float:left;
	margin:0px;
	width:100%;
	height:85px;
	position:absolute;
}

.head_left{
	float:left;
}
.head_right{
	float:right;
}
img.logo{
	float:left;
	margin-left:30px;
	margin-top:30px;
}
ul.login_right{
	float:left;
	margin-right:30px;
	margin-top: 30px;
}
ul.login_right li{
	list-style:none;
	display:initial;
	color:#fff;
}
ul.login_right li a{
	color:#fff;
	font-size:16px;
	text-decoration:none;
	font-weight: bold;
}
ul.login_right li .s-bar{
	font-weight: bold;
}
ul.login_right li a:hover{
	text-decoration:underline;
}
.banner_content_bg{
	position: absolute;
    width: 40%;
    height: auto;
    left: 16%;
    top: 20%;
}
.banner_content_bg p.thinking {
    font-family: "FuturaStd-Medium";
    float: left;
    color: #fff;
    font-size: 54px;
    line-height: 64px;
}
p.helplearn {
    float: left;
    font-family: "FuturaStd-Medium";
    font-size: 22px;
    color: #fff;
    clear: both;
    line-height: 32px;
    margin-top: 0px;
    letter-spacing: 1px;
}
p.become{
	float:left;
	margin-top:20px;
	clear:both;
}
p.become a{
	color: #fff;
    font-size: 20px;
    font-family: "FuturaStd-Medium";
    letter-spacing: 1px;
    background-color: #ef4132;
    float: left;
    padding: 13px;
    border-radius: 8px;
    text-decoration: none;
}
p.become a:hover{background-color: #d72818;}
.search {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    float: left;
    margin-right: 10px;
    /*overflow: hidden;*/
    margin-top: 17px;
	clear:both;
	width:560px;
}
.search input {
    font-family: "FuturaStd-Light" !important;
    border: none;
    outline: none;
    background: none;
    color: #fff !important;
    float: left;
    font-family: arial;
    font-size: 20px;
    font-weight: 400;
    padding: 13px 14px;
    width: 83%;
	/*text-transform:uppercase;*/
    padding-left: 25px;
}
::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}
/*.search span {
    background: url(../images/search_icon.png) no-repeat scroll right center;
    display: inline-block;
    float: right;
    height: 52px;
    width: 27px;
    margin-right: 15px;
}*/


#typeahead-submit{
	margin-top: 0px;
	font-size: 2em;
	background: none;
}
.features_bg{
	float:left;
	width:100%;
	height:auto;
	position:relative;
	margin-top:60px;
}
.banner_content_bg .twitter-typeahead {
    width: 89% !important;
		float: left
}
p.main_title{
	font-family: "FuturaStd-Light";
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
	margin-bottom:0px;
}
p.view_all{
	position:absolute;
	right:20px;
	top:15px;
}
p.view_all a{
	background:#ef4132;
	color:#fff;
	font-size:16px;
	padding:10px 16px;
	border-radius:5px;
	text-decoration:none;
}
p.view_all a:hover{
	background:#d72818;
}
.features_box_bg{
	float:left;
	width:100%;
	height:auto;
	margin-top:20px;
}
.feature_item_bg{
	margin:0 auto;
	width:80%;
	height:auto;
}
.features_box{
    float: left;
    width: 32%;
    height: 230px;
    background: #fafafa;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.features_icon{
    float: left;
    margin-top: 25px;
    margin-left: 6%;
}
.features_txt_bg{
	float:left;
	width:240px;
}
.features_txt_bg p.feature_course{
    float: left;
    font-size: 20px;
    color: #000;
    margin-top: 43px;
    margin-left: 8px;
}
.features_txt_bg p{
    float: left;
	font-size: 16px;
    margin-left: 8px;
    margin-top:16px;
    line-height: 20px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
	margin-bottom:0px;
}

.popular_courses_bg{
	float:left;
	width:100%;
	height:646px;
	background-image:url(../images/popular_courses.jpg);
	margin-top:10px;
	position:relative;
}
.poular_title{
	color:#fff !important;
	margin-top:80px;
    text-transform: uppercase;
	text-align: center;
}
.nav_arrow{
    position: absolute;
    right: 100px;
    top: 72px;
}
/*.popular_view{
    right:210px !important;
    top: 85px !important;
}*/
.popular_view{
    right: 243px !important;
    top: 92px !important;
/*
    right:210px !important;
    top: 85px !important;
*/
}
.popular_bg{
	margin:0 auto;
	max-width:1200px;
	height:auto;
	margin-top:35px;
}
.popular_box {
    margin: 0 auto;
    float: none;
    display: inline-block;
    width: 266px;
    height: 335px;
    background: #fafafa;
    border-radius: 5px;
    position: relative;
    /* margin-left: 10px; */
}
.ellipsis{
	width:275px;
	height:auto;
    -webkit-line-clamp: 2;
    -moz-line-clamp:2;
    line-clamp:2;
    min-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box!important;
}

.popular_box {
    margin: 0 auto;
    float: none;
    display: inline-block;
    width: 266px;
    height: 335px;
    background: #fafafa;
    border-radius: 5px;
    position: relative;
    /* margin-left: 10px; */
}
.truncate {
	width:250px;
}
.pop_img{
	float:left;
}
.pop_img img{
    float: left;
	position:relative;
    max-height: 150px;
    width: 100%
}
.ellipsis2 {
    width: 225px;
    height: auto;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    min-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box!important;
}
.ellipsis_name{
	width:250px;
	height:auto;
    -webkit-line-clamp: 1;
    -moz-line-clamp:1;
    line-clamp:1;
    min-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box!important;
}
p.business{
	float:left;
	position:absolute;
	margin-left:9px;
	margin-top:12px;
}
p.business a{
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    background: #24a2dd;
    border-radius: 5px;
    text-decoration: none;
}
p.course_name {
    font-family: "FuturaStd-Medium";
    text-align: left;
    font-size: 14px;
    color: #000;
    padding-left:10px;
    padding-top: 10px;
    clear: both;
}
p.name {
    font-family: "FuturaStd-Medium";
    text-align: left;
    font-size: 12px;
    color: #343434;
    padding-left:10px;
    margin-bottom: 5px;
}
p.course_tex {
    text-align: left;
    font-size: 15px;
    color: #000;
    padding-left:10px;
}
.box_bottom{
    float: left;
    width: 100%;
    height: 52px;
    position: absolute;
    bottom: 0px;
    background: #e9e9e9;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.user_icon_bg{
	float:left;
	width:76px;
	height:37px;
	background:#656574;
	border-radius:5px;
	margin-top: 7px;
	margin-left:7px;
}
.user_icon_bg p{
	margin-top:7px;
}
.user_icon_bg a{
	color:#fff;
	font-size:16px;
	text-decoration:none;
	margin-top:10px;
}
.user_icon_bg a:hover{
	color:#fff;
}
.user_icon_bg span {
    vertical-align:text-bottom;
    padding-right: 4px;
}
p.free_txt{
	float: right;
    margin-top: 15px;
    margin-right: 10px;
}
p.free_txt a{
	font-size:18px;
	color:#fff;
	padding:8px 10px;
	background:#ef4132;
	border-radius:5px;
	text-decoration:none;
    font-family: "FuturaStd-Bold";
}
p.free_txt a:hover{background-color:#d72818;}
.cost_bg{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.cost_box{
    float: left;
    width: 16.666%;
    height: 240px;
    background: #22abeb;
    -webkit-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
}
.cost_box p{
	text-align:center;
	margin-top:40px;
}
.cost_box a, .cost_box a:hover{
	text-decoration: none;
}
p.courses_txt{
	font-size:22px;
	color:#fff;
	margin-top:30px;
}
p.amount{
    font-size: 28px;
    color: #fff;
    margin-top: 24px;
}
p.join_icon{
	text-align:center;
	margin-top:45px;
}
.join_bg{
	background:#22d6eb;
}
p.join{
	margin-top:30px !important;
	text-align:center;
	margin-top:15px;
}
p.join a{
	color:#fff;
	font-size:20px;
	text-decoration:none;
	padding:10px 25px;
	border:1px solid #fff;
}
p.join a:hover{background:#08c1d7;}
.tutor_bg{
	background:#ef4132;
}
p.tutor{
	margin-top:30px !important;
	text-align:center;
	margin-top:15px;
}
p.tutor a{
	color:#fff;
	font-size:20px;
	text-decoration:none;
	padding:10px 15px;
	border:1px solid #fff;
}
p.tutor a:hover{background:#d72818;}
.testimonial_bg{
	float:left;
	width:98%;
	height:auto;
	margin-top:30px;
	position:relative;
}
.testimonial{
	margin:0 auto;
	max-width:900px;
	height:auto;
	margin-top:60px;
}
.testimonial p{
	text-align:center;
}
p.testimonial_txt{
	color:#777779;
	font-size:17px;
	text-align:center;
	margin-top:40px;
}
/*.footer_bg{
	float:left;
	width:100%;
	height:65px;
	background:#000;
	margin-top:50px;
}*/
.footer_bg{
	float:left;
	width:100%;
	height:65px;
	background:#000;
	position:absolute;
	bottom:0px;
}
.foot_bg {
    margin: 0 auto;
    max-width: 1366px;
    height: auto;
}
.footer_left_bg{
    float: left;
    width:20%;
}
.footer_left_bg ul{
	float:left;
	padding-left:5px;
	margin-bottom:0px;
	margin-top:18px;
}
.footer_left_bg ul li{
	float:left;
	list-style:none;
	padding-left:20px;
}
.foot_center{
	float:left;
	width:38%;
    margin-top: 26px;
}
.foot_center p{
	text-align:right;
	color:#fff;
	font-size:14px;
}
.foot_center p a{
	text-align:right;
	color:#fff;
	text-decoration:none;
}
.foot_right{
	float:right;
	width:230px;
	height:auto;
    margin-top: 20px;
}
.foot_right ul{
	float:left;
	margin-bottom:0px;
}
.foot_right ul li{
	list-style:none;
	float:left;
	padding-left:8px;
}


.popular_black_box {
    position: absolute;
    width: 146px;
    height: 150px;
    background: rgba(0, 0, 0, 0.7);
}
.popular_black_box p img{
	width:39px;
	padding-left:5px;
    padding-top:5px;
	clear:both;
}
.popular_black_box p{
	margin-bottom:0px;
}
.popular_black_box p.leatures{
	float:left;
    font-family: "FuturaStd-Book";
	font-size:15px;
	color:#fff;
	padding-top:5px;
	padding-left:13px;
	clear:both;
}
.popular_black_box p.hrs{
	float:left;
    font-family: "FuturaStd-Book";
	font-size:15px;
	color:#fff;
	padding-left:13px;
	clear:both;
}
.popular_box a{
	text-decoration:none;
}
.popular_box a:hover{
	text-decoration:none;
}
.popular_black_box{
	display:none;
}
.popular_box:hover  .popular_black_box{
	display:block !important;
}





/*-------courses page---------*/

/*.head{
	float:left;
	width:100%;
	max-width:1366px;
	height:85px;
	background:#000;
	position:fixed;
	z-index:999;
}*/
.head {
    margin: 0 auto;
    width: 100%;
    height: 85px;
    background: #000;
	position:fixed;
}
.logo_bg{
	float:left;
	width:28%;
	height:auto;
}
img.logo_sub{
	float:left;
	margin-left:25px;
	margin-top:25px;
}
.category_bg{
	float:left;
	width:45%;
	height:auto;
}
.categary{
	float:left;
    margin-top: 18px;
}
.scroll {
    overflow-y: scroll;
    height: 86%;
    width: 280px;
    position: fixed;
    float: left;
    background: #EF4132;
}
::-webkit-scrollbar {
    width:8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.category-toggle-nav {
display:none;
}
.category-menu {
position:relative;
display:inline-block;
}
.category-menu ul.active_category {
display:none;
}
.category-menu ul {
min-width: 280px;
float: left;
margin: 0px;
padding: 0px;
position: absolute;
top: 137%;
background: #ef4132;
padding-top: 10px;
z-index: 999;
}
.category-menu ul:after {
width:0px;
height:0px;
position:absolute;
top:0%;
left:22px;
content:'';
transform:translate(0%, -100%);
border-left:7px solid transparent;
border-right:7px solid transparent;
border-bottom:7px solid #ef4132;
}
.category-menu li {
float:none;
display:block;
}
.category-menu ul a {
display:block;
padding: 12px;
padding-left: 25px;
font-size: 14px;
color:#fff;
text-decoration:none;
}
.category-toggle-nav {
padding:10px;
float:left;
display:inline-block;
border-radius:5px;
border:1px solid rgba(255, 255, 255, 0.7);
color:#fff;
font-size:16px;
transition:color linear 0.15s;
text-decoration:none;
}
.category-toggle-nav:hover, .category-toggle-nav.active_category {
text-decoration:none;
background:#ef4132;
}
.category-toggle-nav span.nav_icon{
	vertical-align:middle;
}
.categary ul span img{
	vertical-align:bottom;
	padding-right: 10px;
	width: 16px;
    height: 16px;
	float: left;
}

.top_search_bg{
	float:left;
	margin-left:5px;
    width: 75%;
}
.top_search {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    float: left;
    margin-right: 10px;
    overflow: hidden;
    margin-top: 17px;
	clear:both;
	width:100%;
	height:45px;
}
.top_search input {
	font-family: "FuturaStd-Light" !important;
    border: none;
    outline: none;
    background: none;
    color: #fff !important;
    float: left;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 14px;
    width: 84%;
    text-transform: uppercase;
    padding-left: 15px;
}

.top_search span {
    background:url(../images/search_icon.png) no-repeat scroll right center;
    display: inline-block;
    float: left;
    height:45px;
    width: 26px;
}
.mycourse_bg{
	float:right;
	width:290px;
	margin-right: 10px;
    position: relative;
}
ul.mycourse{
	float:left;
	margin:0px;
	padding:0px;
    margin-top: 30px;
    padding-left:10px;
}
ul.mycourse li{
	list-style:none;
	float:left;
	color:#fff;
}
ul.mycourse li a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
}
ul.mycourse li span{
	padding-left:5px;
	padding-right:5px;
}
.user_photo_bg{
	float:left;
	margin-left:10px;
    margin-top: 22px;
}
.user_photo_bg p{
	float:left;
	height:40px;
}
.user_photo_bg p.down_arrow{
    padding-top: 10px;
    padding-left: 7px;
}
.user_list{
    float: right;
    width: 200px;
    height: auto;
    background: #ef4132;
    display: none;
    position: absolute;
    right: 0px;
    top: 85px;
    z-index: 999;
}
.user_list ul{
	float:left;
	margin:0px;
	padding:0px;
	width:100%;
    border-top: 3px solid #3f3f54;
}
.user_list ul li{
	list-style:none;
	color:#fff;
}
.user_list ul li a{
    float: left;
    width:85%;
    color: #fff;
    padding: 7px 15px;
	text-decoration:none;
	border-bottom:1px solid #faa9a2;
}
.user_list ul li a:hover{
	background:#d72818;
}
.user_list ul li.web{display:none;}
.category-menu ul a:hover{
	background:#d72818;
}
ul.development_list li a:hover{
	background:#fafafa;
	color:#EF4132;
}

/*.user_list ul li a:last-child{
border-bottom:none;
}*/

.course_container{
	float:left;
	width:100%;
	height:auto;
    /*margin-top: 85px;*/
}
.course_bg{
	float:left;
	width:100%;
	height:auto;
}
.course_left{
	float:left;
    width: 26%;
	height:auto;
	background:#f5f5f5;
}
.courses_page .course_right{
	float:right;
	width:95%;
	height:auto;

}
#search-result .course_left{
	width: 18%;
}
#search-result .course_right{
	float: left;
	width: 82%;
}
#search-result .course-box{
	width: 230px;
}
/*.course_item_bg{
	margin:0 auto;
	width:90%;
	height:auto;
}*/
.more_dev{
	float:left;
	width:100%;
	height:70px;
	background:#656574;
}
p.development_title{
    font-family: "FuturaStd-Medium";
	font-size:13px;
	color:#fff;
    padding-left: 25px;
    padding-top: 20px;
}
.development_list_bg{
	float:left;
	width:100%;
	height:auto;
}
ul.development_list{
	margin:0px;
	padding:0px;
	padding-top: 15px;
}
ul.development_list li{
	list-style:none;
}
ul.development_list li a{
	float:left;
	width:89%;
    font-family: "FuturaStd-Medium";
	font-size:14px;
	color:#555559;
	text-decoration:none;
	padding:8px 10px;
    padding-left: 30px;
}
ul.development_list li span img{
	width: 16px;
    height: 16px;
	float: left;
}
ul.development_list li span{
	vertical-align: -webkit-baseline-middle;
	padding-right:15px;
}
.wrap-course-box {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.course-box {
    width: 241px;
    height: auto;
    background-color: #fafafa;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
		text-align: left;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

/*.course-box {
    width: 230px;
    height: 335px;
    background-color: #fafafa;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
}*/
.course-box a{
	text-decoration:none !important;
}
.course-box a:hover{
	text-decoration:none !important;
	color:#fff;
}
.course_black_box{
	display:none;
}
.course-box:hover  .course_black_box{
	display:block !important;
}
.course-box .course_banner{
    height: 134px;
    width: 100%;
}
.course-box-img{
	position:relative;
}
.course-box-img img{
	padding-bottom:5px;
	text-align:center;
	margin:0 auto;
	display:block;
	position:relative;
	float:left;
}

.course-box .percent-learn-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #ddd;
}
.course-box .percent-learn-bar .percent-learn-run {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #37abf2;
    -webkit-transition: all 2s ease 0s;
    -moz-transition: all 2s ease 0s;
    -ms-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}
.learning-course-box .course-bottom{
	color:#ef4132 !important;
}
.course_black_box {
    float: left;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.6);
   /* width: 125px;*/
    width:100%;
/*    height: 150px;*/
    height: 129px;
    position: absolute;
    padding-left: 10px;
}

.course_black_box img{
	float:left;
	margin: 0px;
    padding: 0px;
    padding-top: 5px;
	 padding-bottom: 5px;
}

.course_black_box img{
    width: 39px;
    border-radius: 50%
}
.course_black_box p{
	font-family:FuturaStd-Light;
	font-size:13px;
	color:#fff;
	margin:0px;
	float:left;
	clear:both;
	font-weight:600;
}
.course-ratings{
	padding-top:5px;
	padding-left:10px;
}
.course-ratings img{
	margin:0px;
	padding-top:0px;
	float:left;
	padding-right:5px;
}
.rating-number{
	font-family:FuturaStd-Light;
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#000;

}
.course-title p{
	margin:0px;
	font-family:FuturaStd-Medium;
	font-size:14px;
	color:#000;
	padding-top:5px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
	min-height: 43px;
	line-height: 1.3;
	width: 100%;
	-webkit-line-clamp:2;
	line-camp:2;
	moz-line-clamp:2

}
.course-text p{
	font-size:13px;
	font-family:FuturaStd-Light;
	padding-left:10px;
	padding-right:10px;
	margin:0px;
	padding-top:8px;
	padding-bottom:5px;
	font-weight:600;
	color: #000;
    line-height: 20px;
}
.course-border-line{
	border-bottom:1px solid #e9e9ea;
	width:98%;
	margin:0 auto;
	height:1px;
	display:block;
	padding-top:8px;
}
.course-bottom{
	margin-left:10px;
	margin-bottom:10px;
	margin-top:8px;
}
.course-learn-more{
	font-size: 14px;
	font-family:FuturaStd-Light;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
	background-color:#777772;
	text-decoration:none;
    color: #fff;
	border-radius:5px;
}
.course-learn-more:hover{
	background-color: #ef4132;
}
.course-price {
    font-size:18px;
    font-family: "FuturaStd-Medium";
    float: right;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    color: #ef4132;
}
.pagination_bg{
    margin: 0 auto;
    width: 90%;
    height: 90px;
}
.pagination_left{
	float:left;
	width:auto;
}
.pagination_left p{
	font-size:32px;
	color:#000;
    padding-top: 25px;
}
.pagination_right{
	float:right;
    width: 245px;
}
.pagination_right ul{
	float:left;
	margin:0px;
	padding:0px;
    margin-top: 40px;
}
.pagination_right ul li{
	float:left;
	list-style:none;
	padding-left:5px;
	padding-right:5px;
    font-size: 18px;
	color:#000;
}
.pagination_right ul li.last_page{
	margin-right: 8px;
}
.pagination_right ul li a{
	border:1px solid #000;
	padding: 4px 4px;
	display:block;
	text-decoration:none;
	font-size:15px;
	color:#000;
}
.pagination_right ul li.page_arrow{
	padding:0px;
	padding-left:2px;
}
.pagination_right ul li.page_arrow a{
	border:none !important;
	padding:0px;
}







/* star rating
    ---------------------------- */
.rating {
    float: left;
    margin-top: 2px;
}
.rating > ul {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}
.rating > ul > li {
    background: rgba(0, 0, 0, 0) url("../images/star-rating.png") no-repeat scroll 0 0;
    cursor: pointer;
	float: left;
    height: 17px;
    width: 22px;
}
.rating > ul > li:first-child {
	margin-left: 0;
}
.rating > ul > li.hover {
	background-position: -34px 0px;
}
.rating > ul > li.active {
    background-position: -69px 0;
}
.rating > span.less {
	cursor: pointer;
	background:url(../images/star-rating.png) -75px no-repeat;
	display: block;
	float: left;
	height: 25px;
	width: 25px;
}
.rating > span.less{
	display:none;
}




/*-----------search results-----------*/
.yes_no{
	float:left;
	width:100%;
	height:130px;
	background:#656574;
    margin-bottom: 20px;
}
.yes_no_bg{
	float:left;
	width:156px;
	height:46px;
	background:#ef4132;
	margin-left:20px;
	margin-top:15px;
	border-radius:25px;
	position:relative;
}
/*.yes{
	float:left;
	background:#fff;
	position:absolute;
	border-radius:25px;
}
.yes a{
    float: left;
    width: 80px;
    height: 41px;
    background: #fff;
    border-radius: 25px;
    font-size: 28px;
    color: #000;
    font-family: "FuturaStd-Medium";
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}
p.no{
	float:right;
}
p.no a{
	float: right;
    font-size: 28px;
    color: #fff;
    font-family: "FuturaStd-Medium";
    text-decoration: none;
    padding-right: 15px;
    padding-top: 5px;
}*/
.sale_bg{
	float:left;
	width:100%;
	height:auto;
	margin-top: 26px;
}
.price_bg{
	float:left;
	width:90%;
	margin-left:8%;
	height:auto;
	margin-bottom:20px;
}
.price_bg p{
	color:#000;
	font-size:12px;
    font-family: "FuturaStd-Medium";

}
.price_bg ul.radio_button{
	margin:0px;
	padding:0px;
    margin-top: 10px;
}
.price_bg ul.radio_button li{
	list-style:none;
    margin-top: 15px;
	line-height: 24px;
	font-size:12px;
	color:#555559;
}
#search-result-list-wrapper{
	margin-left: 3px;
}
.price_bg input[type='radio'] {
    -webkit-appearance:none;
    width:23px;
    height:23px;
    border:1px solid #656574;
    border-radius:50%;
    outline:none;
	background:#fff;
    vertical-align: bottom;
    margin: 0px;
}
.price_bg input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
.price_bg input[type='radio']:checked:before {
    background:#ef4132;
}
p.shadow img{
	float:left;
	width:100%;
    margin-bottom: 5px;
    margin-top: 5px;
}





/*-----login Page-----*/
/* login Page */


/*.head-login{
	background:url(../images/login-bg.jpg) no-repeat left;
	width:100%;
	height:287px;
}*/
.head-login {
    margin: 0 auto;
    background: url(../images/login-bg.jpg) no-repeat left;
    /*max-width: 1366px;	*/
    width: 100%;
    height: 287px;
}
.head-no-bg{
	/*background:none;
	border-bottom:1px solid #716C6C;
	clear:both;
	position:inherit;*/
	background:url(../images/login-bg-img.jpg) no-repeat left;
	width:100%;
	height:85px;
	float:left;
	border-bottom:1px solid #716C6C;
	position:fixed;
}
.head-no-bg .top_search{
	background:none;
}
.use-profile-details{
	margin:0 auto;
	/*max-width:1366px;*/
}
.user-profile {
    margin: 0 auto;
    /*max-width: 1366px;*/
    width: 100%;
    height: 108px;
    background: url(../images/login-bg-level.jpg) no-repeat left;
    display: table;
	float:left;
	/*margin-top:73px;*/

}
.profile-left{
	float:left;
	width:50%;
	height:100px;

}

.acc-name{
	font-size:17px;
	color:#fff;
}
.user-img{
	margin-left:50px;
}
.user-img img{
	float:left;
	border-radius: 50%;
	max-width: 100px;
	padding:15px;
}
.user-name{
	margin-top:39px;
}n.user-edit-icon{
	padding-left:10px;
}
.acc-country{
	color:#fff;
	font-size:16px;
	padding-top:15px;
}
.location-img img{
	padding-right:10px;
	float:left;
}

.profile-right{
	float:right;
	width:50%;
	/*height:100px;*/

}
.current a{
	background: #ef4132 !important ;
	color: #fff !important;

}
.current .learn-icon{
	background: url(../images/user-learning.png) no-repeat left;
}
.current .teach-icon{
	background:url(../images/user-teaching-white.png) no-repeat left;
}
.user-balance{
	float:right;
}
.user-trohies p{
	font-size:14px;
	color:#fff;
}
.user-trohies{
	float: left;
    border-right: 1px solid #ccc;
    margin-top: 25px;
    padding-right: 45px;
    padding-left: 30px;
    text-align: center;
		padding-top: 4px;
		padding-bottom: 9px;
}
.user-trohies:last-child{
	border-right:none;
}
p.user-digit{
	font-size:14px;
	font-family: "FuturaStd-Light";
	padding-top:2px;
}
p.user-num{
	font-size:16px;
	padding:0px;
}

.two-tab{
	margin:0 auto;
	float:left;
	width:100%;
	border-bottom:1px solid #ccc;
	height:75px;
}
.learing{
	padding-top:15px;
	padding-left:30px;
	padding-bottom:15px;
}
.learing a{
	text-decoration:none;
	color:#000;
	font-size:18px;
	border-radius:5px;
	background-color:#f8f7f7;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
	float:left;
	margin-left:5px;
}
.learing a:hover{
	background-color:#ef4132;
	color:#fff;
	text-decoration:none;
}
span.learn-icon img{
	padding-right:15px;
	padding-top:5px;
	float: left;
}
.login-content {
	margin:0 auto;
	text-align:center;
	float:none;
	display:inline-block;
	width:100%;
	height:auto;
	/*margin-top:80px;*/
	margin-bottom:100px;
}
.join-inform{
	font-size:38px;
	font-family:"FuturaStd-Book";
	padding-top:20px;
	letter-spacing:0px;
}
.walk-teachsity{
	font-size:21px;
	padding-top:20px;
	padding-bottom:30px;
	    letter-spacing: 0px;
}
.start-learning{
	margin-top:5px;
}
.start-learning a{
	background:#777779;
	text-decoration:none;
	font-size:20px;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	border-radius:5px;
	display:inline-block;
	letter-spacing:0px;
}
.start-learning a:hover{
	background:#d72818;
	color:#fff;
	text-decoration:none;
}
span.learn-icon{
	background:url(../images/user-red-learning.png) no-repeat left;
	width:24px;
	height:20px;
	float:left;
	padding-right:10px;
	margin-top:2px;
}
span.teach-icon{
	background:url(../images/user-teaching.png) no-repeat left;
	width:24px;
	height:20px;
	float:left;
	padding-right:10px;
	margin-top:5px;
}
.learn-link:hover span.learn-icon{
	background:url(../images/user-learning.png) no-repeat left;
	/*width:24px;
	height:20px;
	float:left;
	padding-right:10px;
	margin-top:5px;*/
}
.teach-link:hover span.teach-icon{
	background:url(../images/user-teaching-white.png) no-repeat left;
		margin-top:5px;
}





/*----------------------yes no-------------------------*/
.switchFilter {
  width: 0;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);

}

label {
  cursor: pointer;
  /*text-transform: uppercase;*/
  min-width: 70px;
  padding: 14px 0;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
  /*color:#fff;*/
  font-family: "FuturaStd-Medium";
  margin-bottom: 0px !important;

}

.switch {
  position:relative;
  display: inline-block;
  left:103px;
  margin-top:10px;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  /*border:1px solid #ccc;*/
  border-radius:50px;
    background-color:#ef4132;
}
.switch input[type="radio"] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}
.switch input[type="radio"]#yes:checked ~ label[for="yes"] {
  color: black;
/*  border: 1px solid #DB6576;*/
}
.switch input[type="radio"]#yes:checked ~ .switchFilter {
  left: 0;
  opacity: 1;
  width: 87px;
  border-radius:50px;
}
.switch input[type="radio"]#no:checked ~ label[for="no"] {
  color: black;
/*  border: 1px solid #DB6576;*/
}
.switch input[type="radio"]#no:checked ~ .switchFilter {
  left:87px;
  width: 87px;
  opacity: 1;
  border-radius:50px;
}





/*---------------------------------------------*/
.head_left2{
	float:left;
	width:30%;
}
.logo{
	float:left;
}
img.logo2 {
    float: left;
    margin-left: 30px;
    margin-top: 24px;
}
.search_bg{
	float:left;
	width:40%;
    margin-top: 18px;
}

.search_bg .btn-group>.btn{
	color: #fff;
    font-size: 16px;
    padding-left: 9px;
    padding-right: 9px;
    background: none;
    border: 1px solid #ccc;
}
.btn-group.open .dropdown-toggle {
    box-shadow:none !important;
    background: #EF4132;
}
.category_list{
	float:left;
}
.search_box{
	float:left;
	width:73%;
	margin-left:5px;
}
.top_search_box {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    float: left;
    margin-right: 10px;
    /*overflow: hidden;*/
	clear:both;
	width:100%;
	height:45px;
}
.top_search_box input {
	font-family: "FuturaStd-Light" !important;
    border: none;
    outline: none;
    background: none;
    color: #fff !important;
    float: left;
    font-size: 18px;
    font-weight: 400;
    padding: 11px 14px;
    width: 100%;
    /*text-transform: uppercase;*/
    padding-left: 15px;
}
.top_search_box span {
	/*background: url(../images/search_icon.png) no-repeat scroll right center;
    display: inline-block;
    float: right;
    margin-right: 10px;
    height: 45px;
    width: 26px;*/
}
.top_search_box #home_searchbox, .top_search_box .tt-hint{
	border: none !important;
	box-shadow: none !important;
	padding: 21px ;
	/*padding-top: 28px;
	padding-bottom: 20px;*/
}
#search-result-list-wrapper .empty{
	padding: 20px;
}
#typeahead-submit{
	outline: none;
	border: none;
}
.top_search_box #typeahead-submit {
    margin-top: -3px;
    font-size: 1.7em;
	}
	.top_search_box .twitter-typeahead{
		width: 85%;
		float: left;
	}
.search #home_searchbox, .search .tt-hint{
	border: none !important;
	box-shadow: none !important;
	padding: 25px ;
	/*padding-top: 28px;
	padding-bottom: 20px;*/
}

.search_bg ul.dropdown-menu{
	min-width: 260px;
    background: #ef4132;
    font-size: 16px;
    margin-top: 13px;
    box-shadow: none !important;
    border: none !important;
    top: 126%;
	border-radius:0px !important;
}
.search_bg ul.dropdown-menu:after{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ef4132;
}
.search_bg ul.dropdown-menu li a{
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
}
.search_bg ul.dropdown-menu li a:hover{
	background:#E42D1D;
	text-decoration:none !important;
}
.search_bg ul.dropdown-menu li a span{
	padding-right:10px;
	padding-left:5px;
}
.search_bg ul.dropdown-menu li a span img{
	width:16px;
}
.profile_picture i {
    color: #fff;
    font-size: 22px;
    vertical-align: -webkit-baseline-middle;
    padding-left: 8px;
}
.scroll_cate {
    overflow-y: scroll;
    width:260px;
    height:87%;
    float: left;
    position: fixed;
    background: #EF4132;
}


nav.nav_bg{background:#000;padding-bottom: 10px;}
.profile_picture{
    float: right;
    width: 270px;
    margin: 2px;
    margin-right: 20px;
    position: relative;
    padding-bottom: 11px;
    padding-top: 10px;
}
ul.tutor_right{
	float:right;
	margin:0px;
	padding:0px;
	margin-top:20px;
}
.tutor_right .dropdown-menu li{
	float: none !important;
}
ul.tutor_right li{
	float:left;
	display:inherit;
	color:#fff;
}
ul.tutor_right li a{
	float:left;
	color:#fff;
	font-size:14px;
}
.profile_picture a.drow_down{
	float:right;
}
a span.profile img{
	margin:0px;
	padding:0px;
	margin-top:10px !important;
	margin-bottom:10px;
	padding-left:15px;
	width: 40px;

}
.profile_picture ul.dropdown-menu{
    margin: 0px;
    padding: 0px;
	right:0px !important;
	left:inherit;
	border-top:3px solid #ef4132;
}
.profile_picture ul.dropdown-menu li{
}
.profile_picture ul.dropdown-menu li a{
	padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #F1F1F1;
}
.profile_picture ul.dropdown-menu li a:hover{
	background:#ef4132;
	color:#fff;
}
ul.tutor_right li span{padding-left:5px; padding-right:5px;}


.footer{background:#000;}

.clear{
    clear:both;
}

.rating-stars{
    color:#ef4132 !important;
}
.rating-disabled{
    cursor: auto !important;
}
.modal-header{
    text-align: center;
    background: #f1f1f1;
    color: #000;
		font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-body{
    background: #f1f1f1;
    padding-top: 41px !important;
    padding-bottom: 28px !important;

}
.modal-body .row{
    margin: 0 !important;
}
/*.modal-body .btn{
    width: 100%
}*/
#rating-modal .modal-body{
	padding-top:1px !important;
	padding-bottom: 0 !important

}
#signUpModal .modal-dialog{
    max-width: 400px
}
.modal-footer{
		margin-top: 14px !important;
    text-align: center !important
}
.modal{
    left:12%;
    right:12%;
}

.cust-btn {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 9px 17px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: none;
}
.linkedin {
    background-color: #007bb6;
}
.facebook {
    background-color: #5d82d1;
}
/*Bootstrap edition*/
.container-fluid {
     padding-right: 0;
     padding-left: 0;
}
.btn-sky{
		color: #fff !important;
    background-image: -webkit-linear-gradient(top,#37ABF2 0,#37ABF2 100%) !important;
    background-image: linear-gradient(to bottom,#37ABF2 0,#37ABF2 100%) !important;
    background-repeat: repeat-x !important;
    border-color: #37ABF2 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2aabd2',GradientType=0) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}
.btn-danger{
	background: #ef4132 !important;
}
.btn-danger a:hover{
	background-color: #d72818 !important;
	border-color: #ef4132 !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #ef4132 !important;
  border-color: #ef4132 !important;
}
/*End bootstrap edition*/
.features_tutors{
	margin-top: 28px;
	padding-bottom: 20px;
}
.features_tutors .title,.title, .modal-title{
	font-family: "FuturaStd-Medium";

}
.tut_feature{
	max-width: 24%;
}
.feature_tutor_title{
	text-align: center;
	padding: 38px;
  padding-top: 0px;
}
.features_tutors .ft{
	font-size: 16px
}

.text-content{
	text-align: left;
}

.feature-row{
    padding-left: 60px;
    padding-right: 60px;
}
.howitworks{
	padding-left: 13%;
	padding-right: 13%;
	background: #f4f4f4;
	padding-top:10px
}
.howitworks img{
	 float:left
}
.howitworks h6{
	font-size: 18px
}
.howitworks .text-content{
	width: 80%
}
.howitworks_content{
		text-align: center;
}

.icon-div img{
	margin-right: 15px
}

.create-course-div{
	padding: 20px;
	text-align: center;
}

#profile-content{
	margin-left: 0;
}
#profile-content #sidebar{
	margin-right: 0;
	/*background: #fff;*/
	padding-right: 0 !important;
	max-width: 20%;
	padding-left: 0 !important

}
#profile-content #page-main-content{
	margin-left:0;
		padding-left: 0 !important;
		min-width:80%;
		border-left: 1px solid #bbb;
}

#page-main-content .main-content-title{
	padding:3px
}
#page-main-content .content-setting{
	margin-top: 20px;
}
.create-course-content {
    /*padding: 10px 30px;*/
    /*margin-top: 40px;*/
    margin-bottom: 100px;
}
.profile-image{
	padding: 10px;
}
.profile-image .img-thumbnail{
	border-radius: 100%;
	-moz-border-radius:100%;
}
.create-course-sidebar .list-bar {
    padding-bottom: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.create-course-sidebar .list-bar .active {
    background-color: #656574;
    color: #fff;
}

.create-course-sidebar .list-bar li {
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 1em;
    padding: 10px 15px;
    /*-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;*/
    margin-bottom: 3px;
}

.create-course-content .create-item {
    padding: 30px 0;
    border-bottom: 2px solid #eee;
}


.profile-center-div .field {
    padding-left: 15%;
    padding-right: 15%;
}


.site-error {
    /*margin-top: 99px;*/
    padding: 10px;
		text-align: left !important
}

#login-content{
	    padding-top: 100px;
}
.not_guest_bar {
    margin-top: 14px;
    margin-bottom: 10px;
}
.student_courses{

}
#tutors_course{

}
.tutors_course_item{
	margin-bottom: 10px
}
.tutors_course_item .course_banner img{
	 max-width: 160px;
}
#tutor-course-list-wrapper{
	margin-top: 35px;

}
#tut-list-wrapper {
    background: #f7f5f6;
    /* padding: 20px; */
    padding-left: 10px;
    padding-right: 3px;
}

#tut-list-wrapper .course_black_box img{
	width: 24px;
	float: none !important;
	display: inline;
	border-radius: 0
}
.edit_view{
	margin-top: 32px;
	padding: 5px;
}
.edit_view  span{
	border:1px solid #fff;
	padding:35px;
	padding-top: 20px;
	padding-bottom: 20px;


}
.custom-btn{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    /*background-color: #f8f7f7;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.red-btn{
	background: #ef4132 !important;
	color: #fff !important;
}
.grey-btn{
	background: #acacac !important;
	color:#fff;
}

a.grey-btn:hover{
	background: #f8f7f7 !important;
	text-decoration: none;
	color: #000;
}

#dashboard_sec{
	padding-top: 20px
}
#dashboard_sec .pagination{
	float: right;
	margin-right:14px
}
#create_course span {
    background: url(../images/user-learning.png) no-repeat;
    width: 24px;
    height: 20px;
    /* float: left; */
    padding-right: 28px;
    padding-top: 2px;
    /* margin-top: 5px; */
}
.grey-btn:hover span{
	background:url(../images/user-red-learning.png) no-repeat left !important;
}
#search_filter{
	padding-top:10px;
}

#search_filter .search-div{
	padding-left: 0 !important

}
#search_filter .sorter-div{
	padding-right: 0 !important

}

#transactions thead {
    background: #A58181;
    color: #fff;
}
#transactions tbody{
	  background: #f0f0f0;
}
.gross-net{

}
.gross-net span{
	font-weight: bold;
}
.gross-net h1{
	font-family: "FuturaStd-Medium";
}
#gross h1{
	color:#ef4132;
}

#net h1{
	color:#4caf50;
}
div[dir='ltr']{
	left:-8em !important;
}
#monthly-earning-chart{
	width:100%;
	min-width:800px;
	 height:400px
}
.semi-content{
    /*margin-top: 93px;*/
		padding-bottom: 90px;
		padding-top: 20px;
}
#course-title-div{
	border: 1px solid #bbb;
	padding: 20px;
	border-bottom: 4px solid #ef4132;
}
#course-title-div .banner_img img{
	width: 150px;
	float:left;
	margin-right: 15px
}
.sidebar{
	/*border-right: 1px solid #bbb*/
}
.sidebar .title{
	color: #ef4132;
}
.sidebar li{
	list-style: none;
}
.sidebar li a{
	color:#000;
}
.sidebar ul{
	padding-left: 0;
}

.course-content-body{
    padding: 0;
    border: 1px solid #bbb;
    background: #F5F5F5;
    margin-top: 20px;
}

.main-content-title {
    background: #656574;
    /* margin-right: 0; */
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #bbb;
}
.course-content-body{
	padding: 0 !important;
}
.course-content-body .main{
	padding: 0;
}
.main-content-body{
    padding: 20px;
		padding-bottom: 100px;
    /*padding-left: 100px;
    padding-right: 100px;*/
		border-left: 1px solid #bbb;
}
.main-content-body .form-control{
	/*max-width: 74% !important;*/
	display: inline;

}

.c_item{
	    margin-bottom: 36px;
}
.tooltip.top > p{
    text-align:left !important;
}

.added-item{
	margin-top: 8px;
}
.added-item ul{
	padding:0;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
.added-item ul li {
    list-style: none;
    border: 1px solid #ccc;
    /*margin-bottom: 10px;*/
    padding: 10px;
		background: #fff;
		border-bottom: none;
}
.added-item span.icon{
	float: right;
	cursor: pointer;
}
.form-horizontal label{
	color: #000;
	text-transform: capitalize;
}

#video-display #banner-image{
    background: #eee;
    padding: 20px;
    padding-left: 37px;
    padding-right: 37px;
}
.kv-editable-form-inline .form-control{
	max-width: 100% !important
}

.group-grid{
	    margin-top: 40px;
}
.view-user-ul{
	padding-left: 0p
}
.view-user-ul li{
	list-style: none;
	padding: 10px;
}
.view-user-ul .summary, .view-user-ul ul.pagination, .view-user-ul .empty{
	padding: 10px;
}
.view-user-ul ._items:nth-child(even)
{
	 background: #ddd
}
.view-user-ul ._items:nth-child(odd){
		background: #FFF
}

#viewusermodal .modal-body, #viewusermodal .col-md-12{
	padding: 0 !important
}
.alert-danger, .alert-success{
	text-align: center;;
}
.cursor-pointer, .pointer{
	cursor:pointer;
}

#bestprice .fieldConfig li{
	padding-bottom: 10px;
	margin-left: 10px;
	font-size: 16px;

}


/*course content*/
#create-course-section{
	text-align: left;
}
#create-course-section .current-wrapper {
  margin-bottom: 25px;
}
#create-course-section .current-wrapper .sm {
  display: inline-block;
  vertical-align: middle;
}
#create-course-section .current-wrapper .current-outline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 22px;
  position: relative;
  top: 2px;
  vertical-align: middle;
}

.current-outline {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  list-style: none;
}
.current-outline li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #666;
  float: left;
  margin-right: 25px;
}
.current-outline li span {
  font-weight: 700;
  font-size: 16px;
  color: #ef4132;
  margin-right: 3px;
}
.sm{
	font-family: inherit;
}
.div-before-modal-content{
	  max-width: 450px;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top: 18px;
}
#addsection .modal-body{
 padding-top:1px !important;
}
#addsection label{
	text-align: left !important
}
.btn-black{
    background: #4c4c4c;
    text-shadow: 0 1px 0 #fff;
    color: #fff;
    border: 1px solid #000;
}
.btn-black:hover, .btn-black:focus {
    color: #fff !important;
    text-decoration: none;
    background: #000;
}
.sections .loading{
    text-align: center;
    padding-bottom: 20px;
}
.dc-section-info {
  position: relative;
  margin-top: 13px;
}
.dc-section-info .course-region-tool {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dc-section-info .title-section {
  position: relative;
  padding: 12px 130px 12px 15px;
  background-color: #656574;
}
.dc-section-info .title-section span[contenteditable="true"] {
  display: inline-block;
  min-width: 300px;
}
.dc-section-info .title-section .xsm {
  color: #fff;
}
.dc-section-info .title-section .course-region-tool a,
.dc-section-info .title-section .course-region-tool button {
  color: #fff;
}
.dc-section-body{
    margin: 10px;
}
.dc-section-info .title-section .toggle-section {
  border: 1px solid #fff;
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
}
.course-region-tool .icon i{
	color: #fff
}
.course-region-tool .icon, .course-region-tool button {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-left: 14px;
    border: 0;
    background: none;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.dc-section-info .title-section .toggle-section .fa {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.dc-section-info .title-section .toggle-section.active .fa {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dc-section-info .dc-course-item {
  margin-top: 13px;
}
.dc-section-info .dc-course-item .dc-content-title {
  position: relative;
  padding: 7px 130px 7px 30px;
  background-color: #bbb;
  margin-bottom: 10px;
}
.dc-content-title h5{
    max-width: 494px;
}
.unit-body{
    border: 2px dashed #D4D4D4 !important;
}
.dc-section-info .dc-course-item .dc-item-body,.hold-edit-form,.content-item-info, .newquiz,.newunit-form-hidden {
  padding: 15px 25px;
  border: 2px dashed #D4D4D4;
}

.unit-title-edit-div{
    margin-bottom: 10px;
}
.dc-section-info .dc-course-item .dc-item-body .unit-item {
  display: table;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #eee;
  min-height: 70px;
  padding: 10px;
  margin: 15px 0;
	font-family: inherit;
}
.dc-section-info .dc-course-item .dc-item-body .unit-item .inner {
  display: table-cell;
  vertical-align: middle;
}
.dc-section-info .dc-course-item .dc-item-body .unit-item .icon {
  font-size: 14px;
  color: #666;
  margin-top: 2px;
}
.section-item-ul .icon i{
	color:#656574 !important
}
.dc-section-info .dc-course-item .dc-item-body .unit-item span {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin-top: 5px;
}
.title-section h6, .title-section h4{
	font-family:FuturaStd-Light !important
}
.outline-ul li, .section-item-ul li, .section-lesson-ul li {
    list-style: none;
}
.lq-btn{
	margin-top: 10px;
}
.lq-btn li{
	display: inline;
}

.add-section{
	margin-top: 30px;
}

/*.unit-body{
    padding: 30px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 20px;
}*/
.control-label{
	text-align: left !important;
}
.dc-item-body.quizz-body .btn-add {

}
.quizz-body{

}
.quizz-body label{
	width: auto;
	color: #646472
}
.quizz-body .time .minutes{
	max-width: 82px;
	text-align: center;
}

.quizz-body .quiz-desc{
	max-width: 84%;
}

.quiz-desc-div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.quest{
	padding: 0 !important
}
.quest span {
    display: inline-block;
    width: 100%;
    line-height: 1.6em;
    padding: 5px 12px;
    background-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
		font-weight: bold;
}
.label-info {
     background-color:none !important;
    color: #000 !important;
}
#addquestion .modal-dialog{
	max-width: 750px !important
}
 #addquestion .modal-body{
	 padding-top: 0px !important
 }
 .answer-row {
	 margin-bottom: 20px;
 }
 #addquestion .reason{
	 margin-top: 5px;
 }

.addcontent-btn{
    background: #ef4132 !important;;
    color: #fff !important;
    padding: 4px !important;;
    padding-left: 10px !important;;
    padding-right: 10px !important;;
}

.unit-content-div{
    border: 1px dashed #D4D4D4;
    padding: 40px;
}
.file-preview{
	display: none;
}
.content-item-info .upload-thumb {
    width: 27.5%;
    max-width: 160px;
    float: left;
}
.upload-thumb img{
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
}
.content-item-info .upload-cnt {
    width: 72.5%;
    float: left;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}
.content-item-info {
    overflow: hidden;
}
.upload-cnt .title-file{
	color:#2d6ca2
}
.no-left-padding{
	padding-left: 0;
}
/* Course detail page */

.body_content{
	float:left;
	width:100%;
	height:auto;
	/*margin-top:84px;*/
}
.parallax_menu{
    float: left;
    width: 100%;
	margin:0px;
	padding:0px;
    height: auto;
    border-bottom: 1px solid #dcdcdc;
}
.parallax_menu .navbar-fixed-top{
	top:75px;
	background:#fff !important;
	z-index:9;
}
.parallax_menu .navbar-right{
    float: left !important;
	margin:0px;
	padding:0px;
}
.parallax_menu .navbar-nav>li>a{
	color:#000;
    padding-top: 20px;
    padding-bottom: 20px;
	font-size: 18px;
}
p.circle_active {
    float: left;
}
.course_width{
	float:left;
	width:100%;
	height:auto;
	background:#f5f5f5;
	margin-top: -10px;
    /*margin-top: 60px;*/
}
.row_bg{
	background:#f5f5f5;
	margin-top:20px;
}
.page_width{
	margin:0 auto;
	max-width:1266px !important;
}
.art_bg{
}
.name_bg{
	float:left;
	width:15%;
	height:auto;
}
.name_bg img{
	margin-left:25px;
	border-radius: 14%;
}
p.name_txt{
	font-size:14px;
	padding-top:10px;
	color:#000;
}
.art_of_bg{
    float: left;
    width: 51%;
    height: auto;
    margin-left: 25px;
}
p.art{
	font-size:36px;
	color:#000;
}
p.art_tex{
	font-size:16px;
	color:#000;
	letter-spacing: 0px;
	padding-top: 10px;
    /*padding-bottom: 10px;*/
}
p.rating_count{
	font-size:14px;
	color:#000;
	clear:both;
	padding-top:25px;
}
p.share{
	float:right;
	color:#000;
	clear:both;
}
p.share a{
	font-family: "FuturaStd-Book";
	font-size:18px;
	color:#000;
}
p.share a:hover{
	color:#000;
	text-decoration:none;
}
.take_bg{
	float:right;
    margin-bottom: 20px;
}
.take_box{
	float:left;
	width:283px;
	height:254px;
	background:#e0e0e0;
	border-radius:10px;
}
p.take_course{
    text-align: center;
    width: 225px;
    height: 52px;
    margin: 0 auto;
    margin-top: 25px;
}
p.take_course a{
	font-family: "FuturaStd-Light";
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 14px 32px;
	background: #ef4132;
    border-radius: 5px;
    border: 1px solid #fff;
}
p.take_course a:hover{
	text-decoration:none;
	background:#d72818;
}
p.dollor{
	font-family: "FuturaStd-Medium";
	font-size:50px;
	color:#000;
	text-align:center;
	padding-top:10px;
}
p.coupon{
	text-align:center;
	font-size:18px;
	margin-bottom:0px;
	padding-top:2px;
}
p.coupon a{
	color:#555559;
	text-decoration:underline;
}
p.coupon a span{
	margin-left:6px;
}
.margin_top{margin-top:15px;}
.description_left{
	float:left;
	width:810px;
	height:auto;
}
.description_bg{
	float:left;
	width:100%;
	height:auto;
}
.description_right,.description_left{
	margin-top: 1em;
}
.description_right{
	float:right;
	width:450px;
	height:auto;
}
img.video_img{
	float:left;
}
p.descrip_title{
	font-family: "FuturaStd-Book";
	font-size:24px;
	color:#000;
	padding-top:30px;
	margin-bottom:15px;
}
p.descrip_txt{
	font-size:16px;
	color:#000;
	padding-top:15px;
	margin-bottom:0px;
}
p.full_detail{
	float:left;
	padding-top:15px;
}
p.full_detail a{
	color:#ef4132;
	font-family: "FuturaStd-Medium";
	font-size:16px;
	text-decoration:underline;
}
.requirements_bg{
	float:left;
	width:100%;
	height:auto;
}
.requirements_bg ul{
	margin:0px;
	padding:0px;
	margin-left: 20px;
	margin-top:8px;
}
.requirements_bg ul li{
	list-style-image:url(../images/bullet_icon.png);
    padding-top: 5px;
    padding-bottom: 5px;
}
.requirements_bg ul li a{
	font-size:16px;
	color:#000;
	cursor:pointer;
}
.requirements_bg ul li a:hover{
	text-decoration:none;
}
.v_line{
	float:left;
	width:1px;
	height:1240px;
	margin-top:50px;
	/*background:#ccc;*/
}
.right_side_box{
	float:right;
	width:430px;
	height:280px;
	background:#656574;
    position: relative;
}
.right_side_box img.line_bg{
    position: relative;
    margin-left: 15px;
    margin-top: 25px;
}
.right_side_box p{
	position:absolute;
	top:0px;
    left: 24px;
	font-size:15px;
	color:#f7f7f7;
	margin-bottom:0px;
}
.right_side_box p a{
	text-decoration:none;
	color:#fff;
}
.do-icon{
	margin-right: 10px;
}
.right_side_box p a:hover{
	text-decoration:none;
}
p.lectures{top: 30px;}
p.total{top:70px;}
p.level{top:102px;}
p.languages{top:135px;}
p.includes{top:167px;}
.right_side_box p.lecture_right{
	font-family: "FuturaStd-Medium";
    left: 150px;
    top: 33px;
}
.right_side_box p.totale_right{
	font-family: "FuturaStd-Medium";
    left: 150px;
    top: 68px;
}
.right_side_box p.skill_right{
	font-family: "FuturaStd-Medium";
    left: 150px;
    top: 100px;
}
.right_side_box p.languages_right{
	font-family: "FuturaStd-Medium";
    left: 150px;
    top: 136px;
}
.right_side_box p.includes_right{
	font-family: "FuturaStd-Medium";
    left: 150px;
    top: 167px;
	padding-right:10px;
}

.right_side_course{
	float:right;
	width:430px;
	height:auto;
	background:#ecebea;
}
p.right_title{
    font-size: 30px;
    color: #000;
    padding-left: 20px;
    padding-top: 40px;
    clear: both;
}
.right_rating_list{
	float:left;
	width:96%;
	height:115px;
	background:#f3f3f3;
	margin-top:8px;
	margin-left:8px;
}
.right_rating_list:last-child {
	margin-bottom:8px;
}
.rate_img{
	float:left;
	width:auto;
}
.rate_img img{
	margin-top: 16px;
    margin-left: 17px;
}
.rate_img {
    width: 28%;
}
.rate_img img {
    width: 98%;
    margin-top: 14px;
    margin-left: 5px;
}
.rate_star_bg{
	float:left;
	width:auto;
}
p.rate_title{
    font-family: "FuturaStd-Book";
    font-size: 14px;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
		max-width: 250px;
}
.rate_star_bg .rating{
	margin-left:10px;
	margin-top: -7px
}
p.rate_amount{
    font-family: "FuturaStd-Book";
    font-size: 18px;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
	clear:both;
}
.rating-gly-star .rating-stars:before, .rating-gly-star {
     padding-left: 0 !important ;
}
.lesson_bg{
	width:100%;
	height:350px;
	background-image:url(../images/lesson_bg.jpg);
	margin-top:50px;
}
.lessons_row{
	margin-left:0px !important;
	margin-right:0px !important;
}


.review_bg{
	float:left;
	width:100%;
	height:auto;
	background:#f7f7f7;
}

p.review{
    font-family: "FuturaStd-Book";
    font-size: 24px;
    color: #000;
	margin-top:50px;
	margin-bottom: 35px;
}
.v_line2{
    float: left;
    width: 1px;
    height: 100%;
    background: #ccc;
    position: absolute;
}
.review_left{
	float:left;
	width:23% !important;
	padding-left:0px !important
}
p.average{
    font-size:18px;
    color: #000;
}
p.rate_left{
    font-size:80px;
    color: #ef4132;
}
p.rate_star{
	float:left;
    font-size:14px;
    color: #000;
}
p.rate_star span.rate_number{
	float:left;
	padding-right:10px;
}
.review_right{
	width:77% !important;
	padding-right:0px !important;
}
.review_box_left{
	float:left;
	width:70px;
	margin-left: 30px;
	margin-right: 10px;
}
p.review_box_name{
    font-size:18px;
    color: #000;
}
.review_box_right{
	float:left;
	width:85%;
}
.review_box_right p.rate_star span.rate_number{
	font-size:18px;
}
p.review_txt{
    font-size: 18px;
    color: #000;
    clear: both;
    line-height: 22px;
}
.h_line{
    float: left;
    width: 95%;
    height: 1px;
    background: #ccc;
    margin-left: 5%;
	margin-top:30px;
	margin-bottom:30px;
}
p.show_more{
    text-align: center;
    clear: both;
    padding-top: 40px;
	padding-bottom:10px;
}
p.show_more a{
    background: #fff;
    padding: 12px 10px;
	color:#ef4132;
	border:1px solid #ef4132;
	border-radius:5px;
	text-decoration:none;
}
p.show_more a:hover{
	text-decoration:none;
    background: #f7f7f7;
}


/*---courses page---*/

.courses_page{
	margin-left:0px !important;
	margin-right:0px !important;
	background:#f5f5f5;
}
#search-result{
	background: #fff;
}
.top_left {
    width: 63% !important;
    height: auto;
    margin-left: 2%;
}
.top_right{
	width:33% !important;
	height:auto;
}
p.mini_habit{
	font-size:25px;
	color:#000;
	margin-top:30px;
	margin-bottom:20px;
}
.h_line2{
	float:left;
	width:100%;
	height:1px;
	background:#ccc;
}
p.current_progress{
	font-size:25px;
	color:#000;
	padding-top:15px;
}
p.percentage{
	float:left;
	font-size:41px;
	color:#ef4132;
    margin-bottom: 0px;
}
.percent_bg{
	float:left;
	width:370px;
	height:auto;
	margin-left:20px;
	margin-top:15px;
}
.progress_single_wrapper {background:#dad8d6;}
.progress_single {width:0;}
.course_page_right {
}

.tab_section{
	margin-left:0px !important;
	margin-right:0px !important;
	margin-top:20px;
    margin-bottom: 50px;
}
.video_left{
	margin-left:2%;
	width:43% !important;
}
.tab_right_side{
	width:53% !important;
}
.video_bg{
	float:left;
	width:100%;
	height:auto;
}
.video_bg img{
	width:100%;
}
.profile_bg{
	float:left;
	width:100%;
	height:auto;
    margin-top: 20px;
}
.photo_bg{
	float:left;
}
.photo_bg img{
	border-radius: 14%
}
.about_bg{
	float:left;
	margin-left:20px;
}
p.about{
	font-size:18px;
    font-family: "FuturaStd-Book";
	color:#000;
	margin-bottom:0px;
}
p.about_name{
	font-size:18px;
	color:#000;
	margin-bottom:0px;
}
p.about_link{
	font-size:18px;
    font-family: "FuturaStd-Book";
	color:#24a2dd;
	margin-top:10px;
}
p.about_link a{
	text-decoration:underline;
}
p.about_link a {
    color: #656574;
}
.courses_you{
	margin:0px !important;
	background:#eae9e9;
}
.col_width{
	margin-top:50px;
	margin-bottom:30px;
}
.courses_bottom{
	margin:0 auto;
	width: 1120px;
}
p.courses_title{
	font-size:24px;
    font-family: "FuturaStd-Book";
	color:#000;
	margin-bottom:30px;
}
.courses_page_box .course-box{
	width:270px;
    margin-left: 5px;
    margin-right: 5px;
}



.tab_right_side .nav-tabs{
	border-bottom:none;
}
.tab_right_side .nav-tabs>li a{
    border: none;
    border-bottom: 4px solid #fff !important;
    padding: 0px !important;
    margin: 10px 25px 5px 15px;
    padding-bottom: 5px !important;
    font-size: 18px;
    color: #000;
}
.tab_right_side .nav-tabs>li a:hover{
	border:none;
	border-bottom:4px solid #ef4132;
	background:none;
}
.tab_right_side .nav-tabs>li.active>a:hover{
	border:none;
	border-bottom:4px solid #ef4132;
}
.tab_right_side .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border:none !important;
	border-bottom:4px solid #ef4132 !important;
}

.panel-heading {
    cursor: pointer;
}


.tab_wrap{
	margin-top:20px;
}
.tab_wrap .panel-info>.panel-heading{
	background:#000;
	color:#fff;
}
.activestate {
  background-color: #ef4132 !IMPORTANT;
}
.tab_wrap .panel-info{
	border:none !important;
}
.tab_wrap .panel-heading{
	border-radius:0px !important;
}
.tab_wrap .panel-group .panel{
	border-radius:0px !important;
	margin-top:2px !important;
}
.tab_wrap .panel-info>.panel-heading+.panel-collapse .panel-body{
	margin:0px;
	padding:0px;
}




.modification_bg{
	float:left;
	width:100%;
	height:auto;
}

ul.modifi_list{
	margin:0px;
	padding:0px;
}
ul.modifi_list li{
	list-style:none;
}
ul.modifi_list li a{
    float: left;
    width: 100%;
    font-family: "FuturaStd-Book";
    font-size: 16px;
    color: #000;
    background: #e4e4e4;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 1px;
}
ul.modifi_list li a:hover{
	text-decoration:none;
}
ul.modifi_list li span.circle_active{
	padding-left:10px;
	padding-right:5px;
}
ul.modifi_list li span.circle_img{
	padding-right:10px;
}

.tab_wrap h4.panel-title{
	color:#fff;
	padding-top: 5px;
    padding-bottom: 5px;
}
span.right_txt{
	float:right;
	padding-right:10px;
}
.tab_content{
	float:left;
	width:100%;
	height:auto;
    padding: 10px;
	background:#f8f8f8;
}
.parallax_menu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:none !important;
}


/*-----share-------*/
.social .fbtn {
    width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height:18px;
    float: left;
}
.social .fa{padding:15px 0px}
.facebook {
    background-color: #3b5998;
}

.gplus {
    background-color: #dd4b39;
}

.twitter {
    background-color: #55acee;
}

.stumbleupon {
    background-color: #eb4924;
}

.pinterest {
    background-color: #cc2127;
}

.linkedin {
    background-color: #0077b5;
}

.buffer {
    background-color: #323b43;
}

.share-button.sharer {
  height: 20px;
  padding: 10px;
}
.share-button.sharer .social.active.top {
  transform: scale(1) translateY(-10px);
}
.share-button.sharer .social.active {
  opacity: 1;
  transition: all 0.4s ease 0s;
  visibility: visible;
}
.share-button.sharer .social.networks-5 {

}
.share-button.sharer .social.top {
    margin-top: -50px;
    margin-right: -115px;
    transform-origin: 0 0 0;
    float: right;
}
.share-button.sharer .social {
  margin-left: -65px;
  opacity: 0;
  transition: all 0.4s ease 0s;
  visibility: hidden;
}




.readmore_bg + [data-readmore-toggle], .readmore_bg[data-readmore] p.readmore{
    color: #ef4132 !important;
    padding-top: 20px;
    clear: both;
	font-size:18px;
}
p.readmore a{
    color: #ef4132 !important;
}

.lesson_tab{
	margin:0 auto;
	width:90%;
	margin-top:10px;
}

ul.resp-tabs-list,
resp-tabs-container {
  margin: 0px;
  padding: 0px;
}
.resp-tabs-list li {
  font-family: "FuturaStd-Book";
  font-size: 18px;
  color:#000;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.resp-tab-content {
  display: none;
  padding: 15px;
}
.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
  border-bottom: none;
  background-color: #ef4132;
}
.resp-content-active,
.resp-accordion-active { display: block; }
.resp-tab-content { border: 1px solid #c1c1c1; }
h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}
h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 38%;
}
.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
  background: rgba(255, 255, 255, 0.8);
  margin-right:20px;
  margin-bottom: 1px;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #f0eded;
  border: 1px solid #ef4132;
  float: left;
  width: 60%;
  min-height: 210px;
  clear: none;
}
.resp-vtabs .resp-tab-content { border: none; }
.resp-vtabs li.resp-tab-active {
  border:none;
  color: #fff;
  background-color: #ef4132;
  position: relative;
  z-index: 1;
  margin-right:0px !important;
  padding: 15px 15px 15px 15px !important;
  margin-bottom: 1px !important;
}
.resp-vtabs li.resp-tab-active:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 34px;
    right: -10px;
    content: '';
    transform: translate(0%, -100%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ef4132;
}
.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
}
.tab_bg{
	float:left;
	width:100%;
	height:auto;
}

.tab_bg ul{
	margin:0px;
	padding:0px;
}
.tab_bg ul li{
	list-style:none;
}
.tab_bg ul li a{
    font-family: "FuturaStd-Book";
	font-size:16px;
	color:#000;
	border-bottom:1px solid #fff;
    padding: 10px 10px;
	padding-left:25px;
    width: 100%;
    float: left;
}
.tab_bg ul li a:hover{
	text-decoration:none;
}
.tab_bg ul li span.lesson_icon img{
	padding-right:10px;
    vertical-align: sub;
}
.tab_bg ul li span.lesson_time{
	float:right;
	padding-right:10px;
}
p.tab_title{
    font-family: "FuturaStd-Book";
	font-size:30px;
	color:#fff;
}

@media only screen and (min-width :961px)
and (max-width : 1524px)
and (orientation : landscape) {
.resp-tab-content-active{
display: block !important;
}
}

@media only screen and (max-width:1200px){
.resp-tabs-list li {
    font-family: "FuturaStd-Book";
    font-size: 16px;
}

}



@media only screen and (max-width:960px) {
section {
    padding-top:0px;
    margin-top:0px;
    min-height: 100px;
    width: 100%;
    min-width: 100%;
}
.lesson_bg {height:auto;}
.tab_bg { margin-bottom: 15px;}
.lesson_tab {margin-bottom: 30px;}
h2.resp-tab-active {padding: 15px 15px !important; color: #fff;}
ul.resp-tabs-list { display: none; }
h2.resp-accordion { display: block; padding: 15px 15px; clear: both;}
.resp-vtabs .resp-tab-content {
	border: none;
    background: #fff;
    height: auto;
    width: 100%;
    float: left;
}
.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}
.resp-accordion-closed { display: none !important; }
.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}

#coupon-form input {
    float: left;
    width: 70%;
    margin-right: 3px;
}
.list-announcement {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-announcement .list-body .icon {
    width: 40px;
    height: 40px;
    background-color: #ef4132;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-top: 12px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.list-announcement .list-body .list-content {
    position: relative;
    margin-left: 65px;
    padding: 25px 28px;
    background-color: #fff;
}
.list-announcement .list-body {
    position: relative;
    margin-bottom: 38px;
}
.list-announcement .list-body .list-content:before {
    content: '';
    display: block;
    position: absolute;
    border: 7px solid transparent;
    border-right-color: #fff;
    top: 25px;
    left: -14px;
}


/*.list-announcement .list-body:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #ddd;
    top: 52px;
    left: 18px;
}*/
/*.list-announcement .list-body:after {
    content: '';
    display: block;
    clear: both;
}*/

/*---------------courses landing page------------------*/
.landing_page_row{
	margin-left:0px !important;
	margin-right:0px !important;
}
.top_row{
	float:left;
	width:100%;
	height:52px;
	background:#f5f5f5;
}
ul.modifi_list li a:hover, ul.modifi_list li a.active-lesson{
	text-decoration: none;
	background: #000;
	color: #fff;
}
.learn-section {
    background-color: #d4d4d4;
}
.question-content-wrap {
    background-color: #fff;
}
.question-content-wrap .question-content {
    padding: 30px 30px 60px 60px;
    /* min-height: 700px; */
}
.question-content-wrap .question-content .md {
    color: #525252;
    margin-top: 5px;
    line-height: 1.5em;
}
.question-content-wrap .question-content .answer .answer-list li input:checked ~ label .icon_radio {
    background-color: #ef4132;
    border-color: #ef4132;
}
.question-content-wrap .question-content .answer .answer-list li .icon_radio {
    width: 16px;
    height: 16px;
    border: 2px solid #d4d4d4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-top: 1px;
    margin-right: 12px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
input[type="radio"],input[type="checkbox"]{
	display: none;

}
.loader{
    position: fixed;
    left: 0px;
    top: 75px;
		padding-top: 20%;
    width: 100%;
    height: 100%;
    background: #bbb;
    z-index: 9999;
}
.pop_loader {
    position: fixed;
    left: 0px;
    color: #fff;
    top: 0px;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    background: rgba(27, 20, 20, 0.5);
    /* opacity: 2; */
    z-index: 9999;
}li input:checked ~ label .icon_check {
    color: #ef4132;
    border-color: #ef4132;
}
input:checked ~ label .icon_check {
    color: #ef4132;
    border-color: #ef4132;
}
li .icon_check {
    width: 16px;
    height: 16px;
    border: 2px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-top: 1sspx;
    margin-right: 12px;
    font-size: 12px;
    color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.icon_check {
    width: 16px;
    height: 16px;
    border: 2px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-top: 1sspx;
    margin-right: 12px;
    font-size: 12px;
    color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
/*.icon {
    width: auto;
    display: inline-block;
}*/
/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
.top_row{
float:left;
width:100%;
height:52px;
background:#f5f5f5;
z-index:999;
}
.land_top_left{
	float:left;
	width:115px;
}
.landing_video_bg{
	margin:0 auto;
	width:90%;
	height:auto;
}
p.landing_title{
    float: left;
    font-size: 36px;
    color: #000;
    margin-top: 26px;
    clear: both;
}
p.fa_icon{
	margin:0px !important;
	padding-top:11px;
}
p.fa_icon2{
	margin:0px !important;
}
p.close_icon {
    margin: 0px !important;
    padding-top: 20px;
}


.land_top_right{
	float:right;
	width:50%;
	margin-top:20px;
}

.top_row .panel-info>.panel-heading{
	background:#000;
	color:#fff;
}
.activestate {
  background-color: #ef4132 !IMPORTANT;
}
top_row .panel-info{
	border:none !important;
}
top_row .panel-heading{
	border-radius:0px !important;
}
top_row .panel-group .panel{
	border-radius:0px !important;
	margin-top:2px !important;
}
top_row .panel-info>.panel-heading+.panel-collapse .panel-body{
	margin:0px;
	padding:0px;
}
.tab_scroll{
	overflow-y:scroll;
	height:100%;
}



/* course page editor plugin  css */
/*---------------courses landing page------------------*/
.landing_page_row{
	margin-left:0px !important;
	margin-right:0px !important;
}
.top_row{
	float:left;
	width:100%;
	height:52px;
	background:#f5f5f5;
	position:fixed;
}
.embed-responsive-16by9 {
    padding-bottom: 48.25% !important;
}
.margin_space2{
	margin-top:70px !important;
}
.land_top_left{
	float:left;
	width:115px;
}
.landing_video_bg{
	margin:0 auto;
	width:99%;
	height:auto;
}
p.landing_title {
    float: left;
    font-size: 24px;
    color: #000;
    margin-top: 11px;
    clear: both;
}

.land_top_right{
	float:right;

}
.video_section{
	margin:0 auto;
	width:100%;
	height:auto;
}
.video_section img{
	float:left;
	width:100%;
	height:auto;
}



.note-editable{
	height:150px !important;}

.note-fontname{display:none !important;}
.note-color{display:none !important;}
.note-height{display:none !important;}
.note-view{display:none !important;}
.note-insert{display:none !important;}
.note-help{display:none !important;}
.note-style{display:none !important;}
.note-table{display:none !important;}
.note-editor .note-editable{background:#fff;}
.review-input{
	margin-top:10px;
	margin-bottom:10px;
}

.review-input-box{
	float:right;
	color:#fff;
	text-decoration:none;
	margin-top:15px;
	margin-bottom:20px;
	border: none;
}
.review-input-box:hover{
	float:right;
	color:#fff;
	text-decoration:none;
}
.course-load-more-post{
margin-top: 5px;
    clear: both;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.topic-hint{
	color:#EF4132;
}
.post-dicuss-status{
	margin-top:50px;
	margin-bottom:30px;
}
.post-dicuss-status hr{
	width: 70%;
	padding: 20px
}
.discuss-section{
	margin-top:30px;
	margin-bottom:10px;
}
.left-side-section-discuss{
	max-width:100px;
	float:left;
	height:auto;
	width:100px;
	width:35%;
}
.right-side-section-discuss{
	float:left;
	width:65% !important;

}

.replies{

    border-left: 4px solid #bbb;
		padding: 10px !important;
    padding-left: 30px !important;
}

.discuss-name{
	font-size: 18px;
    font-weight: 600;
	}
.discuss-title-name{
	font-size: 24px;
	font-weight: 600;
}
.discuss-text{
	font-size: 18px;
}
.month-discuss{
	font-size: 14px;
	font-weight: 600;
}


.Students-section{
	width:50%;
	float:left;
	margin-bottom:20px;
}

.left-side-section-student{
	float:left;
	height:auto;
	width:100px;
	width:20%;
}
.right-side-section-student{
	float:left;
	width:80%;
	height:80px;

}

.post-student-status{
	margin-bottom:30px;
}
.student-text{
	font-size:14px;
}
.left-side-section-discuss{
	max-width:60px;
}

.left-side-section-student img{
	max-width:50px;
}
.reviews-star-tab{
	margin-top:20px;
}
.list-review {
    margin-top: 30px;
    list-style: none;
    padding: 0;
}
.review {
    margin-top: 20px;
}
.content-review {
    padding: 15px;
    background-color: #FFF;
    margin-left: 85px;
    position: relative;
    top: -10px;
}

.content-review:before {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-right-color: #FFF;
    top: 25px;
    display: block;
    left: -14px;
}
.review-author a img {
    width: 60px;
    height: 60px;
    float: left;
}
p.circle_active{
	float:left;
}

.detailed-course-list{
	margin:0 auto;
	width:90%;
	padding-top: 20px;

}
.detailed-course-list .month-discuss{
	padding-bottom:20px;
}
.detailed-course-list .month-discuss{
	border-bottom:1px solid #f5f5f5;
	margin:0 auto;
	width:100%;
}
.detailed-course-list .right-side-section-discuss{
	width:100%;
}
.note-learn .note-body {
    position: relative;
    border: 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
    resize: none;
    background: url('../images/course-bg-note.jpg') repeat;
    background-attachment: local;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px 22px;
    color: #666;
    text-align: left;
    line-height: 40px;
    overflow: auto;
    outline: none;
}
.note-course-details .note-title{
clear:both; background:rgb(239, 65, 50); height:40px; padding:10px; margin-top:10px; color:#fff;
}
#savenote{color:#fff;}
.left-side-section-discuss {
    max-width: 60px;
    float: left;
    clear: both;
		padding-right:20px;
}

.post-dicuss-status hr{
border-top: 1px solid #ccc;
}


@media screen and (max-width:670px) {

.Students-section{
	width:98%;
	float:left;
	margin-bottom:20px;
}
.left-side-section-discuss {
    max-width: 60px;
    float: left;
    clear: both;
}

}
@media screen and (max-width:400px) {
	p.circle_active{height:35px;
	}
span.right_txt{float:right !important;}
}
.menubar_profile_pix{
	width: 30px;
	border-radius:100%
}
.small_profile_pix{
	width: 60px;
	border-radius: 100%;
}
.big_profile_pix{
	border-radius: 100%
}
.drop-down-toggler{
	float: right;
	margin-left: 10px
}
.drop-down-toggler img{
	margin-top: 10px;

}
.question-content .title{
	line-height: 26px;
}
.question-content-wrap{
    margin-top: 12px;
    max-height: 500px;
    overflow-y: scroll;
		overflow-x: hidden;
		min-height: 400px;
}
.animation-a{

}
.animation-desc{
	padding-left: 4em !important;
	margin-top: 7em;
}
.animation-a-red{
	border: 1px solid #ef4132;
	color: #ef4132;
	padding: 10px;
}

.take-a-walk-div{

}
.taka-a-walk-btn{

}
.checkout-container{
	margin-top: 1.3em;
}
#category-result .course_right {
	float: right;
	width: 100%;
	height: auto;
}

/*Upload library*/

.media-frame.mode-select .attachment.selected .thumbnail {
    opacity: 1;
}

 .attachment .thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}
.attachment .thumbnail:after {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
   box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
   overflow: hidden;
}


 .attachment .thumbnail {
    overflow: hidden;
    position: absolute;
		margin-bottom: 0 !important;
		background: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}
.attachment-preview {
    position: relative;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
}
.attachment-preview:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.attachment.details .check, .attachment.selected .check:focus, .media-frame.mode-grid .attachment.selected .check {
    background-color: #0073aa;
    -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #0073aa;
    box-shadow: 0 0 0 1px #fff,0 0 0 2px #0073aa;
}
.attachment.selected .check {
    display: block;
}
.attachment .check {
   display: none;
   height: 24px;
   width: 24px;
   padding: 0;
   position: absolute;
   z-index: 10;
   top: 0;
   right: 0;
   outline: 0;
   background: #eee;
   -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.15);
   box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.15);
}
.button-link {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
}
.attachment .thumbnail .centered img {
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.attachment .thumbnail img {
    position: absolute;
		width: auto !important;
}
.attachment .thumbnail img {
    top: 0;
    left: 0;
		max-width: none !important;
}
.attachment .landscape img {
    max-height: 100%;
}
.attachment {
    width: 25.28%;
}
.attachment.details {
    -webkit-box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #0073aa;
    box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #0073aa;
}
 .selected.attachment {
    -webkit-box-shadow: inset 0 0 0 5px #fff,inset 0 0 0 7px #ccc;
    box-shadow: inset 0 0 0 5px #fff,inset 0 0 0 7px #ccc;
}
.attachment {
    position: relative;
    float: left;
    padding: 8px;
    margin: 0;
    color: #464646;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.attachment .filename {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 100%;
    word-wrap: break-word;
		white-space: nowrap;
    text-align: center;
    font-weight: 700;
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
}
.attachment .filename div {
   padding: 5px 10px;
}
.attachment .check {
   display: none;
   height: 24px;
   width: 24px;
   padding: 0;
   position: absolute;
   z-index: 10;
   top: 0;
   right: 0;
   outline: 0;
   background: #eee;
   -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.15);
   box-shadow: 0 0 0 1px #fff,0 0 0 2px rgba(0,0,0,.15);
}
.button-link {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    outline: 0;
    cursor: pointer;
}
.attachment .check .media-modal-icon {
    display: block;
    background-position: -1px 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}
.media-modal-icon {
    background-image: url(../wp-includes/images/uploader-icons.png);
    background-repeat: no-repeat;
}

.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal!important;
}
.content-thumbnails{
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 400px;
	overflow-y: scroll ;
}
.file-details .thumbnail {
    position: relative;
    float: left;
    height: 150px;
    width: 200px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.file-details .thumbnail img{
    width: auto;
		height: 100%;
}
.file-details .details {
    float: left;
    font-size: 12px;
    max-width: 100%;
}
/*#library .modal-dialog{
	width: 900px;
}*/
#library .file-preview {
    display: inline-table !important;
		background: #fff !important;
		border-radius: 0 !important
}
#library .file-drop-zone{
	border: none !important;
}
#library .fileinput-remove{
	display: none;
}
.file-details .filename{
	height: 25px;
	min-height: 38px;
}
#library .close{
	margin-top: -1.9em;
	margin-right: -0.5em;
}
.file-drop-zone-title{
	font-size: 25px !important;
}
.file-preview-other {
     padding-top: 0 !important;
    text-align: center;
}
@media screen and (min-width:1240px) {
		#library .modal-dialog {
	     width: 900px;
		}
}
/*End upload library*/
