@font-face {
font-family: "FuturaStd-Bold";
src: url('../css/fonts/FuturaStd-Bold.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-BoldOblique";
src: url('../css/fonts/FuturaStd-BoldOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Condensed";
src: url('../css/fonts/FuturaStd-Condensed.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-CondensedBold";
src: url('../css/fonts/FuturaStd-CondensedBold.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-CondensedBoldObl";
src: url('../css/fonts/FuturaStd-CondensedBoldObl.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-CondensedExtraBd";
src: url('../css/fonts/FuturaStd-CondensedExtraBd.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-CondensedLight";
src: url('../css/fonts/FuturaStd-CondensedLight.otf') format('truetype');
}

@font-face {
font-family: "FuturaStd-CondensedLightObl";
src: url('../css/fonts/FuturaStd-CondensedLightObl.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-CondensedOblique";
src: url('../css/fonts/FuturaStd-CondensedOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-CondExtraBoldObl";
src: url('../css/fonts/FuturaStd-CondExtraBoldObl.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-ExtraBold";
src: url('../css/fonts/FuturaStd-ExtraBold.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-ExtraBoldOblique";
src: url('../css/fonts/FuturaStd-ExtraBoldOblique.otf') format('truetype');
}@font-face {
font-family: "FuturaStd-Heavy";
src: url('../css/fonts/FuturaStd-Heavy.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-HeavyOblique";
src: url('../css/fonts/FuturaStd-HeavyOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Light";
src: url('../css/fonts/FuturaStd-Light.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-LightOblique";
src: url('../css/fonts/FuturaStd-LightOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Book";
src: url('../css/fonts/FuturaStd-Book.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-BookOblique";
src: url('../css/fonts/FuturaStd-BookOblique.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-Medium";
src: url('../css/fonts/FuturaStd-Medium.otf') format('truetype');
}
@font-face {
font-family: "FuturaStd-MediumOblique";
src: url('../css/fonts/FuturaStd-MediumOblique.otf') format('truetype');
}



body{
	margin:0 auto;
	font-family: "FuturaStd-Light";
	letter-spacing:1px;
}
p, h1, h2, h3, h4, h5, h6{
	margin:0px;
	padding:0px;
}
.wrap{
	margin:0 auto;
	max-width:1366px;
	height:auto;
}
.home_banner{
	float:left;
	width:100%;
	height:auto;
	position:relative;
}
.home_banner img.banner_img{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}
.home_img{
	margin:0 auto;
	max-width:1366px;
	height:auto;
}
.head_top{
	float:left;
	width:100%;
	height:85px;
	background:#000;
    position: fixed;
    z-index: 999;
}
.header{
	float:left;
	margin:0px;
	width:100%;
	height:85px;
	position:absolute;
}

.head_left{
	float:left;
}
.head_right{
	float:right;
}
img.logo{
	float:left;
	margin-left:30px;
	margin-top:30px;
}
ul.login_right{
	float:left;
	margin-right:30px;
	margin-top: 30px;
}
ul.login_right li{
	list-style:none;
	display:initial;
	color:#fff;
}
ul.login_right li a{
	color:#fff;
	font-size:16px;
	text-decoration:none;
}
ul.login_right li a:hover{
	text-decoration:underline;
}
.banner_content_bg{
	position: absolute;
    width: 40%;
    height: auto;
    left: 16%;
    top: 20%;
}
.banner_content_bg p.thinking{
	font-family: "FuturaStd-Medium";
    float: left;
    color: #fff;
    font-size: 54px;
    line-height: 70px;
}
p.helplearn {
    float: left;
    font-family: "FuturaStd-Medium";
    font-size: 22px;
    color: #fff;
    clear: both;
    line-height: 32px;
    margin-top: 10px;
    letter-spacing: 1px;
}
p.become{
	float:left;
	margin-top:20px;
	clear:both;
}
p.become a{
	color: #fff;
    font-size: 20px;
    font-family: "FuturaStd-Medium";
    letter-spacing: 1px;
    background-color: #ef4132;
    float: left;
    padding: 13px;
    border-radius: 8px;
    text-decoration: none;
}
p.become a:hover{background-color: #d72818;}
.search {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    float: left;
    margin-right: 10px;
    overflow: hidden;
    margin-top: 17px;
	clear:both;
	width:560px;
}
.search input {
    font-family: "FuturaStd-Light" !important;
    border: none;
    outline: none;
    background: none;
    color: #fff !important;
    float: left;
    font-family: arial;
    font-size: 20px;
    font-weight: 400;
    padding: 13px 14px;
    width: 83%;
	text-transform:uppercase;
    padding-left: 25px;
}
::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}
.search span {
    background:url(../images/search_icon.png) no-repeat scroll right center;
    display: inline-block;
    float: left;
    height:50px;
    width: 33px;
}
.features_bg{
	float:left;
	width:100%;
	height:auto;
	position:relative;
	margin-top:60px;
}
p.main_title{
	font-family: "FuturaStd-Light";
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
p.view_all{
	position:absolute;
	right:20px;
	top:15px;
}
p.view_all a{
	background:#ef4132;
	color:#fff;
	font-size:16px;
	padding:10px 16px;
	border-radius:5px;
	text-decoration:none;
}
p.view_all a:hover{
	background:#d72818;
}
.features_box_bg{
	float:left;
	width:100%;
	height:auto;
	margin-top:20px;
}
.feature_item_bg{
	margin:0 auto;
	width:80%;
	height:auto;
}
.features_box{
    float: left;
    width: 32%;
    height: 275px;
    background: #fafafa;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.features_icon{
    float: left;
    margin-top: 25px;
    margin-left: 6%;
}
.features_txt_bg{
	float:left;
	width:240px;
}
.features_txt_bg p.feature_course{
    float: left;
    font-size: 20px;
    color: #000;
    margin-top: 43px;
    margin-left: 8px;
}
.features_txt_bg p{
    float: left;
	font-size: 16px;
    margin-left: 8px;
    margin-top:16px;
    line-height: 20px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

.popular_courses_bg{
	float:left;
	width:100%;
	height:646px;
	background-image:url(../images/popular_courses.jpg);
	margin-top:10px;
	position:relative;
}
.poular_title{
	color:#fff !important;
	margin-top:80px;
    text-transform: uppercase;
	text-align: center;
}
.nav_arrow{
    position: absolute;
    right: 100px;
    top: 72px;
}
.popular_view{
    right: 243px !important;
    top: 92px !important;
/*
    right:210px !important;
    top: 85px !important;
*/
}
.popular_bg{
	margin:0 auto;
	max-width:1200px;
	height:auto;
	margin-top:35px;
}
.popular_box {
    margin: 0 auto;
    float: none;
    display: inline-block;
    width: 288px;
    height: 335px;
    background: #fafafa;
    border-radius: 5px;
    position: relative;
    /* margin-left: 10px; */
}
.truncate {
	width:250px;
}
.pop_img{
	float:left;
}
.pop_img img{
    float: left;
	position:relative;
    max-height: 150px;
    width: 100%
}
p.business{
	float:left;
	position:absolute;
	margin-left:9px;
	margin-top:12px;
}
p.business a{
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    background: #24a2dd;
    border-radius: 5px;
    text-decoration: none;
}
p.course_name {
    font-family: "FuturaStd-Medium";
    text-align: left;
    font-size: 14px;
    color: #000;
    padding-left:20px;
    padding-top: 10px;
    clear: both;
}
p.name {
    font-family: "FuturaStd-Medium";
    text-align: left;
    font-size: 12px;
    color: #343434;
    padding-left:20px;
    padding-top: 10px;
}
p.course_tex {
    text-align: left;
    font-size: 15px;
    color: #000;
    padding-left:20px;
    padding-top: 6px;
    line-height: 18px;
}
.box_bottom{
    float: left;
    width: 100%;
    height: 52px;
    position: absolute;
    bottom: 0px;
    background: #e9e9e9;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.user_icon_bg{
	float:left;
	width:76px;
	height:37px;
	background:#656574;
	border-radius:5px;
	margin-top: 7px;
	margin-left:7px;
}
.user_icon_bg p{
	margin-top:8px;
}
.user_icon_bg a{
	color:#fff;
	font-size:16px;
	text-decoration:none;
	margin-top:10px;
}
.user_icon_bg span {
    vertical-align: -webkit-baseline-middle;
    padding-right: 4px;
    padding-left: 10px;
}
p.free_txt{
	float: right;
    margin-top: 15px;
    margin-right: 10px;
}
p.free_txt a{
	font-size:18px;
	color:#fff;
	padding:8px 10px;
	background:#ef4132;
	border-radius:5px;
	text-decoration:none;
    font-family: "FuturaStd-Bold";
}
p.free_txt a:hover{background-color:#d72818;}
.cost_bg{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.cost_box{
    float: left;
    width: 16.666%;
    height: 240px;
    background: #22abeb;
    -webkit-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
}
.cost_box p{
	text-align:center;
	margin-top:40px;
}
p.courses_txt{
	font-size:22px;
	color:#fff;
	margin-top:30px;
}
p.amount{
    font-size: 28px;
    color: #fff;
    margin-top: 24px;
}
p.join_icon{
	text-align:center;
	margin-top:45px;
}
.join_bg{
	background:#22d6eb;
}
p.join{
	margin-top:30px !important;
	text-align:center;
	margin-top:15px;
}
p.join a{
	color:#fff;
	font-size:20px;
	text-decoration:none;
	padding:10px 25px;
	border:1px solid #fff;
}
p.join a:hover{background:#08c1d7;}
.tutor_bg{
	background:#ef4132;
}
p.tutor{
	margin-top:30px !important;
	text-align:center;
	margin-top:15px;
}
p.tutor a{
	color:#fff;
	font-size:20px;
	text-decoration:none;
	padding:10px 15px;
	border:1px solid #fff;
}
p.tutor a:hover{background:#d72818;}
.testimonial_bg{
	float:left;
	width:100%;
	height:auto;
	margin-top:30px;
	position:relative;
}
.testimonial{
	margin:0 auto;
	max-width:900px;
	height:auto;
	margin-top:60px;
}
.testimonial p{
	text-align:center;
}
p.testimonial_txt{
	color:#777779;
	font-size:17px;
	text-align:center;
	margin-top:40px;
}
.footer_bg{
	float:left;
	width:100%;
	height:65px;
	background:#000;
	margin-top:50px;
}
.foot_bg {
    margin: 0 auto;
    max-width: 1366px;
    height: auto;
}
.footer_left_bg{
    float: left;
    width:20%;
}
.footer_left_bg ul{
	float:left;
	padding-left:5px;
	margin-bottom:0px;
	margin-top:18px;
}
.footer_left_bg ul li{
	float:left;
	list-style:none;
	padding-left:20px;
}
.foot_center{
	float:left;
	width:38%;
    margin-top: 26px;
}
.foot_center p{
	text-align:right;
	color:#fff;
	font-size:14px;
}
.foot_center p a{
	text-align:right;
	color:#fff;
	text-decoration:none;
}
.foot_right{
	float:right;
	width:230px;
	height:auto;
}
.foot_right ul{
	float:left;
	margin-bottom:0px;
}
.foot_right ul li{
	list-style:none;
	float:left;
	padding-left:8px;
}


.popular_black_box {
    position: absolute;
    width: 146px;
    height: 150px;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
}
.popular_black_box p img{
	width:39px;
	padding-left:5px;
    padding-top:5px;
	clear:both;
}
.popular_black_box p.leatures{
	float:left;
    font-family: "FuturaStd-Book";
	font-size:15px;
	color:#fff;
	padding-top:5px;
	padding-left:13px;
	clear:both;
}
.popular_black_box p.hrs{
	float:left;
    font-family: "FuturaStd-Book";
	font-size:15px;
	color:#fff;
	padding-left:13px;
	clear:both;
}
.popular_box a{
	text-decoration:none;
}
.popular_black_box{
	display:none;
}
.popular_box:hover  .popular_black_box{
	display:block !important;
}





/*-------courses page---------*/

/*.head{
	float:left;
	width:100%;
	max-width:1366px;
	height:85px;
	background:#000;
	position:fixed;
	z-index:999;
}*/
.head {
    margin: 0 auto;
    width: 100%;
    height: 85px;
    background: #000;
	position:fixed;
}
.logo_bg{
	float:left;
	width:28%;
	height:auto;
}
img.logo_sub{
	float:left;
	margin-left:25px;
	margin-top:25px;
}
.category_bg{
	float:left;
	width:45%;
	height:auto;
}
.categary{
	float:left;
    margin-top: 18px;
}
.scroll {
    overflow-y: scroll;
    height: 86%;
    width: 280px;
    position: fixed;
    float: left;
    background: #EF4132;
}
::-webkit-scrollbar {
    width:8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.category-toggle-nav {
display:none;
}
.category-menu {
position:relative;
display:inline-block;
}
.category-menu ul.active_category {
display:none;
}
.category-menu ul {
min-width: 280px;
float: left;
margin: 0px;
padding: 0px;
position: absolute;
top: 137%;
background: #ef4132;
padding-top: 10px;
z-index: 999;
}
.category-menu ul:after {
width:0px;
height:0px;
position:absolute;
top:0%;
left:22px;
content:'';
transform:translate(0%, -100%);
border-left:7px solid transparent;
border-right:7px solid transparent;
border-bottom:7px solid #ef4132;
}
.category-menu li {
float:none;
display:block;
}
.category-menu ul a {
display:block;
padding: 12px;
padding-left: 25px;
font-size: 14px;
color:#fff;
text-decoration:none;
}
.category-toggle-nav {
padding:10px;
float:left;
display:inline-block;
border-radius:5px;
border:1px solid rgba(255, 255, 255, 0.7);
color:#fff;
font-size:16px;
transition:color linear 0.15s;
text-decoration:none;
}
.category-toggle-nav:hover, .category-toggle-nav.active_category {
text-decoration:none;
background:#ef4132;
}
.category-toggle-nav span.nav_icon{
	vertical-align:middle;
}
.categary ul span img{
	vertical-align:bottom;
	padding-right: 10px;
	width: 16px;
    height: 16px;
	float: left;
}

.top_search_bg{
	float:left;
	margin-left:5px;
    width: 75%;
}
.top_search {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    float: left;
    margin-right: 10px;
    overflow: hidden;
    margin-top: 17px;
	clear:both;
	width:100%;
	height:45px;
}
.top_search input {
	font-family: "FuturaStd-Light" !important;
    border: none;
    outline: none;
    background: none;
    color: #fff !important;
    float: left;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 14px;
    width: 84%;
    text-transform: uppercase;
    padding-left: 15px;
}
.top_search span {
    background:url(../images/search_icon.png) no-repeat scroll right center;
    display: inline-block;
    float: left;
    height:45px;
    width: 26px;
}
.mycourse_bg{
	float:right;
	width:290px;
	margin-right: 10px;
    position: relative;
}
ul.mycourse{
	float:left;
	margin:0px;
	padding:0px;
    margin-top: 30px;
    padding-left:10px;
}
ul.mycourse li{
	list-style:none;
	float:left;
	color:#fff;
}
ul.mycourse li a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
}
ul.mycourse li span{
	padding-left:5px;
	padding-right:5px;
}
.user_photo_bg{
	float:left;
	margin-left:10px;
    margin-top: 22px;
}
.user_photo_bg p{
	float:left;
	height:40px;
}
.user_photo_bg p.down_arrow{
    padding-top: 10px;
    padding-left: 7px;
}
.user_list{
    float: right;
    width: 200px;
    height: auto;
    background: #ef4132;
    display: none;
    position: absolute;
    right: 0px;
    top: 85px;
    z-index: 999;
}
.user_list ul{
	float:left;
	margin:0px;
	padding:0px;
	width:100%;
    border-top: 3px solid #3f3f54;
}
.user_list ul li{
	list-style:none;
	color:#fff;
}
.user_list ul li a{
    float: left;
    width:85%;
    color: #fff;
    padding: 7px 15px;
	text-decoration:none;
	border-bottom:1px solid #faa9a2;
}
.user_list ul li a:hover{
	background:#d72818;
}
.user_list ul li.web{display:none;}
.category-menu ul a:hover{
	background:#d72818;
}
ul.development_list li a:hover{
	background:#fafafa;
	color:#EF4132;
}

/*.user_list ul li a:last-child{
border-bottom:none;
}*/

.course_container{
	float:left;
	width:100%;
	height:auto;
    margin-top: 85px;
}
.course_bg{
	float:left;
	width:100%;
	height:auto;
}
.course_left{
	float:left;
    width: 26%;
	height:auto;
	background:#f5f5f5;
}
.course_right{
	float:right;
	width:95%;
	height:auto;

}
/*.course_item_bg{
	margin:0 auto;
	width:90%;
	height:auto;
}*/
.more_dev{
	float:left;
	width:100%;
	height:70px;
	background:#656574;
}
p.development_title{
    font-family: "FuturaStd-Medium";
	font-size:20px;
	color:#fff;
    padding-left: 25px;
    padding-top: 20px;
}
.development_list_bg{
	float:left;
	width:100%;
	height:auto;
}
ul.development_list{
	margin:0px;
	padding:0px;
	padding-top: 15px;
}
ul.development_list li{
	list-style:none;
}
ul.development_list li a{
	float:left;
	width:89%;
    font-family: "FuturaStd-Medium";
	font-size:14px;
	color:#555559;
	text-decoration:none;
	padding:8px 10px;
    padding-left: 30px;
}
ul.development_list li span img{
	width: 16px;
    height: 16px;
	float: left;
}
ul.development_list li span{
	vertical-align: -webkit-baseline-middle;
	padding-right:15px;.
}
.wrap-course-box {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.course-box {
    width: 241px;
    height: auto;
    background-color: #fafafa;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
		text-align:left;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.course-box .course_banner{
    height: 134px;
    width: 100%;
}
.course-box a{
	text-decoration:none !important;
}
.course-box .percent-learn-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #ddd;
}
.course-box .percent-learn-bar .percent-learn-run {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #37abf2;
    -webkit-transition: all 2s ease 0s;
    -moz-transition: all 2s ease 0s;
    -ms-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}
.learning-course-box .course-bottom{
	color:#ef4132 !important;
}
.course_black_box{
	display:none;
}
.course_black_box img{
    width: 39px;
    border-radius: 50%
}
.course-box:hover  .course_black_box{
	display:block !important;
}
.course-box-img{
	position:relative;
}
.course-box-img img{
	padding-bottom:5px;
	text-align:center;
	margin:0 auto;
	display:block;
	position:relative;
	float:left;
}
.course_black_box {
    float: left;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.6);
   /* width: 125px;*/
    width:100%;
/*    height: 150px;*/
    height: 129px;
    position: absolute;
    padding-left: 10px;
}
.course_black_box img{
	float:left;
	margin: 0px;
    padding: 0px;
    padding-top: 5px;
	 padding-bottom: 5px;
}
.course_black_box p{
	font-family:FuturaStd-Light;
	font-size:13px;
	color:#fff;
	margin:0px;
	float:left;
	clear:both;
	font-weight:600;
}
.course-ratings{
	padding-top:5px;
	padding-left:10px;
}
.course-ratings img{
	margin:0px;
	padding-top:0px;
	float:left;
	padding-right:5px;
}
.rating-number{
	font-family:FuturaStd-Light;
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#000;

}
.course-title p{
	margin:0px;
	font-family:FuturaStd-Medium;
	font-size:14px;
	color:#000;
	padding-top:7px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
    min-height: 47px;
    line-height: 1.3
}
.course-text p{
	font-size:13px;
	font-family:FuturaStd-Light;
	padding-left:10px;
	padding-right:10px;
	margin:0px;
	padding-top:8px;
	padding-bottom:5px;
	font-weight:600;
	color: #000;
}
.course-border-line{
	border-bottom:1px solid #e9e9ea;
	width:98%;
	margin:0 auto;
	height:1px;
	display:block;
	padding-top:8px;
}
.course-bottom{
	margin-left:10px;
	margin-bottom:10px;
	margin-top:12px;
}
.course-learn-more{
	font-size: 14px;
	font-family:FuturaStd-Light;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
	background-color:#777772;
	text-decoration:none;
    color: #fff !important;
	border-radius:5px;
}
.course-learn-more:hover{
	background-color: #ef4132;
}
.course-price {
    font-size:18px;
    font-family: "FuturaStd-Medium";
    float: right;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    color: #ef4132;
}
.pagination_bg{
    margin: 0 auto;
    width: 90%;
    height: 90px;
}
.pagination_left{
	float:left;
	width:auto;
}
.pagination_left p{
	font-size:32px;
	color:#000;
    padding-top: 25px;
}
.pagination_right{
	float:right;
    width: 245px;
}
.pagination_right ul{
	float:left;
	margin:0px;
	padding:0px;
    margin-top: 40px;
}
.pagination_right ul li{
	float:left;
	list-style:none;
	padding-left:5px;
	padding-right:5px;
    font-size: 18px;
	color:#000;
}
.pagination_right ul li.last_page{
	margin-right: 8px;
}
.pagination_right ul li a{
	border:1px solid #000;
	padding: 4px 4px;
	display:block;
	text-decoration:none;
	font-size:15px;
	color:#000;
}
.pagination_right ul li.page_arrow{
	padding:0px;
	padding-left:2px;
}
.pagination_right ul li.page_arrow a{
	border:none !important;
	padding:0px;
}







/* star rating
    ---------------------------- */
.rating {
    float: left;
    margin-top: 2px;
}
.rating > ul {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}
.rating > ul > li {
    background: rgba(0, 0, 0, 0) url("../images/star-rating.png") no-repeat scroll 0 0;
    cursor: pointer;
	float: left;
    height: 17px;
    width: 22px;
}
.rating > ul > li:first-child {
	margin-left: 0;
}
.rating > ul > li.hover {
	background-position: -34px 0px;
}
.rating > ul > li.active {
    background-position: -69px 0;
}
.rating > span.less {
	cursor: pointer;
	background:url(../images/star-rating.png) -75px no-repeat;
	display: block;
	float: left;
	height: 25px;
	width: 25px;
}
.rating > span.less{
	display:none;
}




/*-----------search results-----------*/
.yes_no{
	float:left;
	width:100%;
	height:130px;
	background:#656574;
    margin-bottom: 20px;
}
.yes_no_bg{
	float:left;
	width:156px;
	height:46px;
	background:#ef4132;
	margin-left:20px;
	margin-top:15px;
	border-radius:25px;
	position:relative;
}
/*.yes{
	float:left;
	background:#fff;
	position:absolute;
	border-radius:25px;
}
.yes a{
    float: left;
    width: 80px;
    height: 41px;
    background: #fff;
    border-radius: 25px;
    font-size: 28px;
    color: #000;
    font-family: "FuturaStd-Medium";
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}
p.no{
	float:right;
}
p.no a{
	float: right;
    font-size: 28px;
    color: #fff;
    font-family: "FuturaStd-Medium";
    text-decoration: none;
    padding-right: 15px;
    padding-top: 5px;
}*/
.sale_bg{
	float:left;
	width:100%;
	height:auto;
}
.price_bg{
	float:left;
	width:90%;
	margin-left:8%;
	height:auto;
	margin-bottom:20px;
}
.price_bg p{
	color:#000;
	font-size:24px;
    font-family: "FuturaStd-Medium";

}
.price_bg ul.radio_button{
	margin:0px;
	padding:0px;
    margin-top: 10px;
}
.price_bg ul.radio_button li{
	list-style:none;
    margin-top: 15px;
	line-height: 24px;
	font-size:14px;
	color:#555559;
}
.price_bg input[type='radio'] {
    -webkit-appearance:none;
    width:23px;
    height:23px;
    border:1px solid #656574;
    border-radius:50%;
    outline:none;
	background:#fff;
    vertical-align: bottom;
    margin: 0px;
}
.price_bg input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
.price_bg input[type='radio']:checked:before {
    background:#ef4132;
}
p.shadow img{
	float:left;
	width:100%;
    margin-bottom: 5px;
    margin-top: 5px;
}





/*-----login Page-----*/
/* login Page */


/*.head-login{
	background:url(../images/login-bg.jpg) no-repeat left;
	width:100%;
	height:287px;
}*/
.head-login {
    margin: 0 auto;
    background: url(../images/login-bg.jpg) no-repeat left;
    /*max-width: 1366px;	*/
    width: 100%;
    height: 287px;
}
.head-no-bg{
	/*background:none;
	border-bottom:1px solid #716C6C;
	clear:both;
	position:inherit;*/
	background:url(../images/login-bg-img.jpg) no-repeat left;
	width:100%;
	height:85px;
	float:left;
	border-bottom:1px solid #716C6C;
	position:fixed;
}
.head-no-bg .top_search{
	background:none;
}
.use-profile-details{
	margin:0 auto;
	max-width:1366px;
}
.user-profile {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    height: 139px;
    background: url(../images/login-bg-level2.jpg) no-repeat left;
    display: table;
	float:left;
	margin-top:84px;

}
.profile-left{
	float:left;
	width:50%;
	height:100px;
	padding-top: 20px;
}

.acc-name{
	font-size:17px;
	color:#fff;
}
.user-img{
	margin-left:50px;
}
.user-img img{
	float:left;
	border-radius: 50%;
	max-width: 100px
	/*padding-right: 15px;
	padding-top: 15px;*/
}
.user-name{
	margin-top:39px;
}
span.user-edit-icon{
	padding-left:10px;
}
.acc-country{
	color:#fff;
	font-size:16px;
	padding-top:15px;
}
.location-img img{
	padding-right:10px;
	float:left;
}

.profile-right{
	float:right;
	width:50%;
	/*height:100px;*/

}
.user-balance{
	float:right;
}
.user-trohies p{
	font-size:14px;
	color:#fff;
}
.user-trohies{
	float: left;
    border-right: 1px solid #ccc;
    margin-top: 25px;
    padding-right: 45px;
    padding-left: 30px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 25px;
}
.user-trohies:last-child{
	border-right:none;
}
p.user-digit{
	font-size:14px;
	font-family: "FuturaStd-Light";
	padding-top:2px;
}
p.user-num{
	font-size:16px;
	padding:0px;
}

.two-tab{
	margin:0 auto;
	float:left;
	width:100%;
	border-bottom:1px solid #ccc;
	height:75px;
}
.learing{
	padding-top:15px;
	padding-left:30px;
	padding-bottom:15px;
}
.learing a{
	text-decoration:none;
	color:#000;
	font-size:18px;
	border-radius:5px;
	background-color:#f8f7f7;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
	float:left;
	margin-left:5px;
}
.learing a:hover{
	background-color:#ef4132;
	color:#fff;
}
span.learn-icon img{
	padding-right:15px;
	padding-top:5px;
	float: left;
}
.login-content {
	margin:0 auto;
	text-align:center;
	float:none;
	display:inline-block;
	width:100%;
	height:auto;
	margin-top:80px;
	margin-bottom:100px;
}
.join-inform{
	font-size:38px;
	font-family:"FuturaStd-Book";
	padding-top:20px;
	letter-spacing:0px;
}
.walk-teachsity{
	font-size:21px;
	padding-top:20px;
	padding-bottom:30px;
	    letter-spacing: 0px;
}
.start-learning{
	margin-top:5px;
}
.start-learning a{

	background:#777779;
	text-decoration:none;
	font-size:20px;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	border-radius:5px;
	display:inline-block;
	letter-spacing:0px;
}
.start-learning a:hover{
	background:#d72818;
}
span.learn-icon{
	background:url(../images/user-red-learning.png) no-repeat left;
	width:24px;
	height:20px;
	float:left;
	padding-right:10px;
	margin-top:2px;
}
span.teach-icon{
	background:url(../images/user-teaching.png) no-repeat left;
	width:24px;
	height:20px;
	float:left;
	padding-right:10px;
	margin-top:5px;
}
.learn-link:hover span.learn-icon{
	background:url(../images/user-learning.png) no-repeat left;
	/*width:24px;
	height:20px;
	float:left;
	padding-right:10px;
	margin-top:5px;*/
}
.teach-link:hover span.teach-icon{
	background:url(../images/user-teaching-white.png) no-repeat left;
		margin-top:5px;
}





/*----------------------yes no-------------------------*/
.switchFilter {
  width: 0;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);

}

label {
  cursor: pointer;
  text-transform: uppercase;
  width: 70px;
  padding: 14px 0;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
  color:#fff;
  font-family: "FuturaStd-Medium";

}

.switch {
  position:relative;
  display: inline-block;
  left:103px;
  margin-top:10px;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  /*border:1px solid #ccc;*/
  border-radius:50px;
    background-color:#ef4132;
}
.switch input[type="radio"] {
  visibility: hidden;
  position: absolute;
  height: 100%;
}
.switch input[type="radio"]#yes:checked ~ label[for="yes"] {
  color: black;
/*  border: 1px solid #DB6576;*/
}
.switch input[type="radio"]#yes:checked ~ .switchFilter {
  left: 0;
  opacity: 1;
  width: 87px;
  border-radius:50px;
}
.switch input[type="radio"]#no:checked ~ label[for="no"] {
  color: black;
/*  border: 1px solid #DB6576;*/
}
.switch input[type="radio"]#no:checked ~ .switchFilter {
  left:87px;
  width: 87px;
  opacity: 1;
  border-radius:50px;
}
.clear{
    clear:both;
}

.rating-stars{
    color:#ef4132 !important;
}
.rating-disabled{
    cursor: auto !important;
}
.modal-header{
    text-align: center;
    background: #f1f1f1;
    color: #000;
		font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-body{
    background: #f1f1f1;
    padding-top: 41px !important;
    padding-bottom: 28px !important;

}
.modal-body .row{
    margin: 0 !important;
}
.modal-body .btn{
    width: 100%
}
#signUpModal .modal-dialogm, .reset-password{
    max-width: 400px
}
.modal-footer{
		margin-top: 14px;
    text-align: center
}
.modal{
    left:12%;
    right:12%;
}

.cust-btn {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 9px 17px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: none;
}
.linkedin {
    background-color: #007bb6;
}
.facebook {
    background-color: #5d82d1;
}
