
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "FuturaStd-Medium" !important
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

/*home stars*/

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-image: url(../images/howitworkbg.png);
    background-position: center;
    background-size: cover;
}

.bg-light{
    color: #000;
    background-color:#f7f7f7;
}
.bg-footer{
    background-color: #000;
}

.text-faded {
    color: rgba(255,255,255,.7);
}
.2nd-bg{
    background: #gray;
}

section {
    padding: 60px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.navbar-default {
    border: none !important;
    background-image:none !important;
    background-color:#333333 !important;
    -webkit-transition: all .35s !important;
    -moz-transition: all .35s !important;
    transition: all .35s !important;
}
.navbar-brand {
    float: left !important;
    height: 50px !important;
    padding: 15px 15px !important;
    font-size: 18px !important;
    line-height: 20px !important;
}
.text-primary {
    color: #fff !important;
}
.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;

    font-weight: 700;
    color: #f05f40 !important;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812 !important;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 16px !important;

    color: #fff !important;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40 !important;
    text-decoration: underline;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40 !important;
    background-color: transparent !important ;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent !important;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3) !important;
        background-color: transparent !important;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7) !important;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: rgba(255,255,255,.7) !important;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #fff !important;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff !important;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05) !important;
        background-color: #000 !important;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px !important;
        color: #f05f40 !important;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812 !important;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #fff !important;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        /*color: #f05f40 !important;*/
    }

}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-family: "FuturaStd-Medium" !important
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        font-size: 39px;
    }
}

.section-heading {
    margin-top: 0;
}
.section-heading-height {
    margin: 0px 0px 60px 0px;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}



.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}



.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #e13c2e !important;
    color: #fff !important;
    background-color: #ef4132 !important;
    -webkit-transition: all .35s !important;
    -moz-transition: all .35s !important;
    transition: all .35s !important;
    background-image: none !important;
    border-color:none !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f !important;
    color: #fff !important;
    background-color: #d82819 !important;
}

.btn-secondary {
    border-color: #e13c2e !important;
    color: #fff !important;
    background-color: #72b953 !important;
    -webkit-transition: all .35s !important;
    -moz-transition: all .35s !important;
    transition: all .35s !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f !important;
    color: #fff !important;
    background-color: #5ab035 !important;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none !important;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff !important;
}

.btn {
    border: 0 !important;
    border-radius: 8px !important;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
    font-weight: 700 !important;
}

.btn-xl {
    padding: 15px 20px !important;
}



body {
    webkit-tap-highlight-color: #222;
}
.navbar-brand{
    min-height: 60px;
}
.menu-devider{
    padding: 15px 0px;
    color: #fff;
}
.thumbnail, .img-thumbnail{border:none !important;box-shadow: none !important}
.thumb-bg{
    background:#ef4132;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 50px;
    max-width: 234px;
    margin: 0px auto;
    text-align: center;
    transition:all 0.4s ease-in-out 0s

}

.teachsity-gives{
  margin-top: 25px
}
.who-can-join{
  margin-top: 30px;
}
.faq-div{
    margin-bottom: 25px;
}
.thumb-bg:hover{
    background:#cd3224;
    transition:all 0.4s ease-in-out 0s;
}
.thumb-bg > images{transition:all 0.4s ease-in-out 0s;}
.thumb-bg:hover > images{transform: translate(0px, -5px);}

.works-box{
    padding: 20px 20px;
    min-height: 179px !important;
}
.works-border-bottom{
    border-bottom: 1px solid #5c5755;
}
.works-border-right{
    border-right: 1px solid #5c5755;
}

@media(max-width:1024){
  .works-box{
      min-height: 179px !important;
  }
}
@media(max-width:768px) {
  .who-can-join{
    margin-top: 30px;
  }
    .works-border-bottom{
        border-bottom: none;
    }
    .works-border-right{
        border-right: none;
    }
    .works-box{
        text-align: center;
    }
    .footer-sec ul{
        text-align: center;
    }
    .service-box{
        text-align: center;
    }
    .section-heading-height {
    margin: 0px 0px 20px 0px;
    }
    .menu-devider{
        visibility: hidden;
        padding: 0px;
    }
}
#accordion-first .accordion-group {
    margin-bottom: 10px;
}

#accordion-first .accordion-heading, #accordion-first .accordion-toggle:hover, #accordion-first .accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0% 0% transparent;
}
#accordion-first .accordion-heading {
    border-bottom: 0px none;
    font-size: 16px;
}

#accordion-first .accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    padding: 18px 0px !important;
    color: #222;
    outline: medium none !important;
    text-decoration: none;
    font-family: FuturaStd-Medium;
}

#accordion-first .accordion-heading .accordion-toggle.active em{background-color: #2e2d2d;}

#accordion-first .accordion-heading .accordion-toggle > em {
    background-color: #ef4132;
    color: #FFF;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    text-align: center;
    width: 35px;
    float: right;
}

.padding-height{
    padding:15px 0;
}
.list-inline{
    padding-top: 5px;
}
/*.footer-cont{
    padding-top: 10px;
    color:#fff;
}
.footer-cont a{
    color:#fff;
}
.list-inline li a images{
    transition:all 0.4s ease-in-out 0s;
}
.list-inline li a images:hover{
    transition:all 0.4s ease-in-out 0s;
}
.list-inline li a images{transition:all 0.4s ease-in-out 0s;}
.list-inline li a images:hover{transform: translate(0px, -5px);}*/


/*home ens*/
