.vjs-default-skin .vjs-resume-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.vjs-default-skin .vjs-resume-overlay .vjs-resume-overlay-dialog {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	background-color: #111;
	color: #fff;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 14px;
	width: 225px;
	border-radius: 10px;
}

.vjs-default-skin .vjs-resume-overlay .vjs-resume-overlay-dialog p {
	margin: 0 0 10px 0;
}

.vjs-default-skin .vjs-resume-overlay .vjs-resume-overlay-dialog button {
	color: #fff;
	padding: 10px;
	background-color: #42a5f5;
	border-radius: 5px;
	margin: 5px;
	font-size: 12px;
  cursor: pointer;
}

.vjs-default-skin .vjs-resume-overlay .vjs-resume-overlay-dialog button:hover {
	background-color: #90caf9;
}
